Repository CEED/libCEED, pull requests merged in 2018-04, with the labels that each got.

#68 When creating a Q-function, create a deep copy of the 'focca' string input
  ceed-qfunction.c
Labels: bug

#36 [WIP] Magma backend [magma-dev]
  Makefile
  README.md
  backends/magma/atomics.cuh
  backends/magma/ceed-magma.c
  backends/magma/ceed-magma.h
  backends/magma/gccm.py
  backends/magma/magma_check_cudaerror.h
  backends/magma/magma_dtensor_contract.c
  tests/t30-operator.c
  tests/tap.sh
Labels: GPU, backend

#70 [WIP] Add a Makefile for Nek5000 example(s)
  examples/Makefile
  examples/nek5000/Makefile
Labels: examples
