Repository CEED/libCEED, pull requests merged in 2018-09, with the labels that each got.

#147 Rename /cpu/self/opt to /cpu/self/vec
  Doxyfile
  Makefile
  README.md
  backends/blocked/ceed-blocked-basis.c
  backends/blocked/ceed-blocked-operator.c
  backends/blocked/ceed-blocked-qfunction.c
  backends/blocked/ceed-blocked-restrict.c
  backends/blocked/ceed-blocked-vector.c
  backends/blocked/ceed-blocked.c
  backends/blocked/ceed-blocked.h
  tests/tap.sh
Labels: backend, minor

#155 Indent include statements in Fortran tests
  tests/t310-basis-f.f
  tests/t311-basis-f.f
  tests/t312-basis-f.f
  tests/t313-basis-f.f
  tests/t510-operator-f.f
  tests/t511-operator-f.f
Labels: bug, fortran, minor, testing

#156 Add print number of global dofs for PETSc BPs
  examples/petsc/bp1.c
  examples/petsc/bp3.c
Labels: PETSc, enhancement, examples

#158 Fixed Nek5000 BP1
  examples/nek5000/bp1.usr
Labels: Nek5000
