Repository CEED/libCEED, pull requests merged in 2019-01, with the labels that each got.

#188 Fix small memory leak in Fortran interface
  interface/ceed-fortran.c
Labels: 1-In Review, bug, fortran, minor

#190 Simplify accessing of inner context
  backends/occa/ceed-occa-qfunction.c
  include/ceed-backend.h
  interface/ceed-qfunction.c
Labels: 1-In Review, CUDA, OCCA, fortran, minor

#189 Use -ffree-form for Fortran test suite
  Makefile
  include/ceedf.h
  tests/t000-init-f.f
  tests/t100-vec-f.f
  tests/t101-vec-f.f
  tests/t102-vec-f.f
  tests/t103-vec-f.f
  tests/t104-vec-f.f
  tests/t105-vec-f.f
  tests/t106-vec-f.f
  tests/t107-vec-f.f
  tests/t108-vec-f.f
  tests/t200-elemrestriction-f.f
  tests/t201-elemrestriction-f.f
  tests/t202-elemrestriction-f.f
  tests/t203-elemrestriction-f.f
  tests/t204-elemrestriction-f.f
  tests/t205-elemrestriction-f.f
  tests/t206-elemrestriction-f.f
  tests/t207-elemrestriction-f.f
  tests/t300-basis-f.f
  tests/t301-basis-f.f
  tests/t302-basis-f.f
  tests/t303-basis-f.f
  tests/t304-basis-f.f
  tests/t305-basis-f.f
  tests/t306-basis-f.f
  tests/t307-basis-f.f
  tests/t310-basis-f.f
  tests/t310-basis-f.h
  tests/t311-basis-f.f
  tests/t312-basis-f.f
  tests/t313-basis-f.f
  tests/t400-qfunction-f.f
  tests/t401-qfunction-f.f
  tests/t500-operator-f.f
  tests/t501-operator-f.f
  tests/t502-operator-f.f
  tests/t510-operator-f.f
  tests/t511-operator-f.f
Labels: 1-In Review, bug, fortran, testing

#175 Cuda backend
  Makefile
  backends/cuda/ceed-cuda-basis.c
  backends/cuda/ceed-cuda-operator.c
  backends/cuda/ceed-cuda-qfunction.c
  backends/cuda/ceed-cuda-restriction.c
  backends/cuda/ceed-cuda-vec.c
  backends/cuda/ceed-cuda.c
  backends/cuda/ceed-cuda.h
  backends/cuda/cuda-vec.cu
  backends/magma/ceed-magma.c
  examples/ceed/ex1.cu
  examples/mfem/bp1.cu
  examples/mfem/bp1.hpp
  examples/mfem/bp3.cu
  examples/mfem/bp3.hpp
  examples/petsc/bp1.c
  examples/petsc/bp1.cu
  examples/petsc/bp3.c
  examples/petsc/bp3.cu
  include/ceed-impl.h
  include/ceed.h
  interface/ceed-fortran.c
  interface/ceed-qfunction.c
  interface/ceed.c
  tests/t400-qfunction-f.cu
  tests/t400-qfunction.cu
  tests/t401-qfunction-f.cu
  tests/t401-qfunction.cu
  tests/t500-operator-f.cu
  tests/t500-operator.cu
  tests/t501-operator-f.cu
  tests/t501-operator.cu
  tests/t502-operator-f.cu
  tests/t502-operator.cu
Labels: 1-In Review, CUDA, GPU, backend

#186 Initial libXSMM Backend
  .travis.yml
  Makefile
  README.md
  backends/blocked/ceed-blocked-operator.c
  backends/ref/ceed-ref-operator.c
  backends/ref/ceed-ref.h
  backends/xsmm/ceed-xsmm-basis.c
  backends/xsmm/ceed-xsmm-blocked.c
  backends/xsmm/ceed-xsmm-serial.c
  backends/xsmm/ceed-xsmm.h
  tests/t303-basis-f.f
Labels: 1-In Review, CPU, backend

#187 Benchmarking
  Makefile
  README.md
  benchmarks/.gitignore
  benchmarks/README.md
  benchmarks/benchmark.sh
  benchmarks/petsc-bp1.sh
  benchmarks/petsc-bp3.sh
  benchmarks/postprocess-base.py
  benchmarks/postprocess-plot.py
  benchmarks/postprocess-table.py
  examples/petsc/Makefile
  examples/petsc/bp1.c
  examples/petsc/bp1.h
  examples/petsc/bp3.c
  examples/petsc/bp3.h
Labels: 1-In Review, enhancement, frontend

#201 In Makefile: replace '-' with '_' in a variable name.
  Makefile
Labels: building

#202 Fix LIBXSMM capitalization
  README.md
Labels: 1-In Review, minor
