Repository CEED/libCEED, pull requests merged in 2020-08, with the labels that each got.

#600 PETSc examples: Update DMPlexCreateSphereMesh() and DMAddBoundary() calls after changes in PETSc's API
  .travis.yml
  examples/fluids/navierstokes.c
  examples/petsc/area.c
  examples/petsc/bpssphere.c
  examples/petsc/setup.h
  examples/petsc/setuparea.h
  examples/petsc/setupsphere.h
  examples/solids/elasticity.h
  examples/solids/src/setupdm.c
Labels: 1-In Review, PETSc, examples

#604 PETSc area and bpssphere examples: Improve testing
  .travis.yml
  examples/petsc/area.c
  examples/petsc/bpssphere.c
Labels: CI, PETSc, examples, testing

#605 Hip - add missing ierr
  backends/hip/ceed-hip-qfunction-load.cpp
Labels: 1-In Review, minor

#606 Doc - update backend diagram
  doc/img/libCEEDBackends.png
Labels: 1-In Review, minor

#607 Hash - add additional hash key lengths
  include/ceed-hash.h
Labels: 1-In Review, minor

#608 Hip - shorten up resource strncmp
  backends/hip/ceed-hip.c
Labels: 1-In Review, GPU, HIP, minor

#609 Doc - update release notes
  doc/sphinx/source/releasenotes.rst
Labels: 1-In Review, minor

#614 Fix a bug in the Cuda-gen backend
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Labels: 1-In Review, CUDA, backend, bug

#613 CUDA - drop extra casts
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Labels: 1-In Review, CUDA, minor

#617 Travis - drop OCCA testing from ARM64 until memory bug is fixed
  .travis.yml
Labels: 1-In Review, CI, OCCA, testing

#616 CUDA - clean up logic for collograd in cuda/gen
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Labels: 1-In Review, CUDA, minor
