Repository CEED/libCEED, pull requests merged in 2020-01, with the labels that each got.

#440 Travis - Update to Bionic, Add ARM64 and POWER8 arch
  .travis.yml
  Makefile
  examples/nek/nek-examples.sh
  tests/t504-operator-f.f90
Labels: 1-In Review, CI, enhancement

#439 PETSc example: Areasphere
  examples/README.md
  examples/ceed/.gitignore
  examples/ceed/ex1.c
  examples/petsc/README.md
  examples/petsc/area.c
  examples/petsc/bps.c
  examples/petsc/bpsraw.c
  examples/petsc/qfunctions/area/areacube.h
  examples/petsc/qfunctions/area/areacube.okl
  examples/petsc/qfunctions/area/areasphere.h
  examples/petsc/qfunctions/area/areasphere.okl
Labels: 1-In Review, PETSc, examples

#442 Rename ceed examples and minor doc changes
  README.md
  examples/README.md
  examples/ceed/.gitignore
  examples/ceed/README.md
  examples/ceed/ex1-volume.c
  examples/ceed/ex1-volume.h
  examples/ceed/ex1-volume.okl
  examples/ceed/ex2-surface.c
  examples/ceed/ex2-surface.h
  examples/ceed/ex2-surface.okl
  examples/mfem/bp1.cpp
  examples/mfem/bp1.okl
  examples/mfem/bp3.cpp
  examples/mfem/bp3.okl
  examples/nek/bps/bps.okl
  examples/petsc/qfunctions/area/areacube.okl
  examples/petsc/qfunctions/area/areasphere.okl
  examples/petsc/qfunctions/bps/bp1.okl
  examples/petsc/qfunctions/bps/bp2.okl
  examples/petsc/qfunctions/bps/bp3.okl
  examples/petsc/qfunctions/bps/bp4.okl
Labels: 1-In Review, documentation, examples

#414 Python Interface
  .gitignore
  .travis.yml
  Makefile
  README.md
  python/README.md
  python/__init__.py
  python/build_ceed_cffi.py
  python/ceed.py
  python/ceed_basis.py
  python/ceed_constants.py
  python/ceed_elemrestriction.py
  python/ceed_operator.py
  python/ceed_qfunction.py
  python/ceed_vector.py
  requirements.txt
  setup.py
  tests/python/.gitignore
  tests/python/Makefile
  tests/python/README.md
  tests/python/buildmats.py
  tests/python/conftest.py
  tests/python/libceed-qfunctions.c
  tests/python/output/test_107.out
  tests/python/output/test_202.out
  tests/python/output/test_208.out
  tests/python/output/test_210.out
  tests/python/output/test_300.out
  tests/python/output/test_301.out
  tests/python/output/test_304.out
  tests/python/output/test_305.out
  tests/python/output/test_402.out
  tests/python/output/test_413.out
  tests/python/output/test_504.out
  tests/python/output/test_523.out
  tests/python/setup-qfunctions.py
  tests/python/setup.cfg
  tests/python/test-0-ceed.py
  tests/python/test-1-vector.py
  tests/python/test-2-elemrestriction.py
  tests/python/test-3-basis.py
  tests/python/test-4-qfunction.py
  tests/python/test-5-operator.py
  tests/python/test-qfunctions.h
Labels: 1-In Review, frontend, python

#436 AssembleLinearDiag Optimizations
  backends/memcheck/ceed-memcheck-serial.c
  backends/opt/ceed-opt-operator.c
  backends/ref/ceed-ref-operator.c
  examples/petsc/multigrid.c
  examples/petsc/setup.h
  include/ceed.h
  interface/ceed-elemrestriction.c
  interface/ceed-fortran.c
  interface/ceed-operator.c
  interface/ceed.c
  python/ceed_elemrestriction.py
  tests/t209-elemrestriction-f.f90
  tests/t209-elemrestriction.c
Labels: 1-In Review, CPU, performance

#448 Fix t412 segfault
  tests/t412-qfunction.c
Labels: 1-In Review, bug, testing

#444 Fix petsc/bp4&bp6 with OCCA
  examples/petsc/qfunctions/bps/bp1.okl
  examples/petsc/qfunctions/bps/bp2.okl
  examples/petsc/qfunctions/bps/bp3.okl
  examples/petsc/qfunctions/bps/bp4.okl
Labels: OCCA, bug, examples

#452 PETSc - add DoF/node output in PETSc examples
  examples/petsc/area.c
  examples/petsc/bps.c
  examples/petsc/bpsraw.c
  examples/petsc/multigrid.c
Labels: 1-In Review, PETSc, enhancement, examples, minor
