Repository CEED/libCEED, pull requests merged in 2020-05, with the labels that each got.

#522 Soldis - fix small bug in energy restriction
  examples/solids/src/misc.c
  examples/solids/src/setuplibceed.c
Labels: 1-In Review, bug, examples, minor

#526 PETSc examples: some cleaning
  examples/fluids/navierstokes.c
  examples/petsc/setup.h
  examples/petsc/setupsphere.h
  examples/solids/src/setuplibceed.c
Labels: 1-In Review, PETSc, examples

#525 Fix make tidy for CUDA/MAGMA
  Makefile
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda-gen/ceed-cuda-gen-qfunction.c
  backends/cuda-reg/ceed-cuda-reg-basis.c
  backends/cuda/ceed-cuda-operator.c
  backends/cuda/ceed-cuda-qfunction.c
  backends/cuda/ceed-cuda.c
  backends/magma/ceed-magma-basis.c
  backends/magma/ceed-magma-restriction.c
Labels: 1-In Review, CUDA, MAGMA, minor

#527 Move CITING info to top-level README
  CITING.md
  CONTRIBUTING.md
  README.rst
  doc/sphinx/source/CITING.md
  doc/sphinx/source/index.rst
Labels: 1-In Review, documentation

#529 Empty Restriction Support
  backends/cuda/ceed-cuda-restriction.c
  backends/magma/ceed-magma-restriction.c
  backends/ref/ceed-ref-restriction.c
Labels: 1-In Review, CPU, GPU, bug, minor

#532 Small GPU Test Changes
  examples/petsc/multigrid.c
  tests/tap.sh
Labels: 1-In Review, minor, testing

#533 Jed/activate hoverxref
  doc/sphinx/requirements.txt
  doc/sphinx/source/conf.py
  examples/fluids/navierstokes.c
Labels: documentation

#528 CEED_STRIDES_BACKEND optimization for cuda-ref operator apply
  backends/cuda/ceed-cuda-operator.c
  backends/cuda/ceed-cuda.h
  backends/magma/ceed-magma-operator.c
  backends/magma/ceed-magma.c
  backends/magma/ceed-magma.h
  tests/t536-operator-f.f90
  tests/t536-operator.c
Labels: CUDA, MAGMA, backend, performance

#531 XSMM - fix q=1 index computation
  backends/xsmm/ceed-xsmm-tensor.c
  backends/xsmm/ceed-xsmm.h
  include/ceed-hash.h
  include/khash.h
Labels: 1-In Review, LIBXSMM, bug, minor

#534 Solids - additional command line options
  examples/solids/README.rst
  examples/solids/elasticity.c
  examples/solids/elasticity.h
  examples/solids/src/cloptions.c
  examples/solids/src/setuplibceed.c
Labels: 1-In Review, examples, minor

#516 Some fixes in NS miniapp
  examples/fluids/README.md
  examples/fluids/advection.h
  examples/fluids/advection2d.h
  examples/fluids/densitycurrent.h
  examples/fluids/index.rst
  examples/fluids/navierstokes.c
  examples/fluids/tests-output/fluids-navierstokes-explicit.bin
  examples/fluids/tests-output/fluids-navierstokes-implicit-stab-none.bin
  examples/fluids/tests-output/fluids-navierstokes-implicit-stab-supg.bin
  tests/tap.sh
Labels: 1-In Review, PETSc, examples

#536 Refactor Petsc area example
  examples/petsc/area.c
  examples/petsc/bpssphere.c
  examples/petsc/setuparea.h
  examples/petsc/setupsphere.h
Labels: 1-In Review, PETSc, examples

#524 Icl/magma queue
  backends/magma/ceed-magma-basis.c
  backends/magma/ceed-magma-restriction.c
  backends/magma/ceed-magma.c
  backends/magma/ceed-magma.h
  backends/magma/grad_1d.cu
  backends/magma/grad_device.cuh
  backends/magma/grad_generic.cu
  backends/magma/gradn_2d.cu
  backends/magma/gradn_3d.cu
  backends/magma/gradt_2d.cu
  backends/magma/gradt_3d.cu
  backends/magma/interp_1d.cu
  backends/magma/interp_2d.cu
  backends/magma/interp_3d.cu
  backends/magma/interp_device.cuh
  backends/magma/interp_generic.cu
  backends/magma/magma_check_cudaerror.h
  backends/magma/magma_common_device.cuh
  backends/magma/magma_dbasisApply_grad.cu
  backends/magma/magma_dbasisApply_grad_device.cuh
  backends/magma/magma_dbasisApply_interp.cu
  backends/magma/magma_dbasisApply_interp_device.cuh
  backends/magma/magma_dbasisApply_weight.cu
  backends/magma/magma_dgemm_nontensor.c
  backends/magma/magma_drestrictApply.cu
  backends/magma/magma_grad.c
  backends/magma/magma_interp.c
  backends/magma/magma_tc_device.cuh
  backends/magma/magma_weight.c
  backends/magma/weight_1d.cu
  backends/magma/weight_2d.cu
  backends/magma/weight_3d.cu
  backends/magma/weight_device.cuh
  backends/magma/weight_generic.cu
Labels: 1-In Review, GPU, MAGMA, performance

#535 Solids - view diagnostic quantities
  examples/mfem/bp1.cpp
  examples/solids/.gitignore
  examples/solids/README.rst
  examples/solids/elasticity.c
  examples/solids/elasticity.h
  examples/solids/qfunctions/hyperFS.h
  examples/solids/qfunctions/hyperSS.h
  examples/solids/qfunctions/linElas.h
  examples/solids/src/cloptions.c
  examples/solids/src/matops.c
  examples/solids/src/misc.c
  examples/solids/src/setupdm.c
  examples/solids/src/setuplibceed.c
Labels: 1-In Review, examples

#542 CUDA - fix empty restriction support
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-reg/ceed-cuda-reg-restriction.c
Labels: 1-In Review, CUDA, bug, minor

#543 Docs - pin python package markdown at 3.2.1
  doc/sphinx/requirements.txt
Labels: 1-In Review, bug, documentation

#546 Add ICC to CI
  .travis.yml
  Makefile
  azure-pipelines.yml
  backends/occa/ceed-occa-qfunction-op.c
  backends/occa/ceed-occa-restrict.c
Labels: 1-In Review, testing

#544 Python - add support for getting/setting CUDA arrays
  examples/tutorials/tutorial-1-vector.ipynb
  examples/tutorials/tutorial-2-elemrestriction.ipynb
  examples/tutorials/tutorial-3-basis.ipynb
  examples/tutorials/tutorial-4-qfunction.ipynb
  examples/tutorials/tutorial-5-operator.ipynb
  python/ceed_vector.py
  requirements-gpu.txt
  setup.py
  tests/python/test-1-vector.py
Labels: 1-In Review, CUDA, python

#547 Doc additions for MAGMA backend
  README.rst
Labels: MAGMA, documentation

#549 Operator - expand check for valid QFunction
  interface/ceed-operator.c
Labels: 1-In Review, bug, minor
