Repository CEED/libCEED, pull requests merged in 2021-03, with the labels that each got.

#707 add CUDA_ARCH and HIP_ARCH options
  Makefile
Labels: GPU, minor

#714 Fluids & Solids | add/modify cl options for viz output folder
  examples/fluids/README.md
  examples/fluids/navierstokes.c
  examples/solids/README.rst
  examples/solids/elasticity.c
  examples/solids/elasticity.h
  examples/solids/src/cloptions.c
  examples/solids/src/misc.c
Labels: 1-In Review, examples

#706 gitlab - display number processes avaliable for tests
  .gitlab-ci.yml
Labels: 1-In Review, CI, minor

#687 Fluids - More Regression Tests
  examples/ceed/ex1-volume.c
  examples/ceed/ex2-surface.c
  examples/fluids/navierstokes.c
  examples/fluids/tests-output/fluids-navierstokes-adv-rotation-explicit-strong.bin
  examples/fluids/tests-output/fluids-navierstokes-adv-rotation-implicit-stab-supg.bin
  examples/fluids/tests-output/fluids-navierstokes-adv-translation-implicit-stab-su.bin
  examples/fluids/tests-output/fluids-navierstokes-adv2d-rotation-explicit-strong.bin
  examples/fluids/tests-output/fluids-navierstokes-adv2d-rotation-implicit-stab-supg.bin
  examples/fluids/tests-output/fluids-navierstokes-adv2d-translation-implicit-stab-su.bin
  examples/fluids/tests-output/fluids-navierstokes-dc-explicit.bin
  examples/fluids/tests-output/fluids-navierstokes-dc-implicit-stab-none.bin
  examples/fluids/tests-output/fluids-navierstokes-implicit-stab-supg.bin
  examples/nek/bps/bps.usr
  tests/junit.py
  tests/tap.sh
Labels: 1-In Review, examples, testing

#712 Full assembly of CeedOperator
  backends/avx/ceed-avx-serial.c
  backends/blocked/ceed-blocked.c
  backends/opt/ceed-opt-blocked.c
  backends/opt/ceed-opt-serial.c
  include/ceed-impl.h
  include/ceed.h
  interface/ceed-operator.c
  interface/ceed.c
  tests/t560-operator.c
  tests/t561-operator.c
  tests/t562-operator.c
  tests/t563-operator.c
  tests/t564-operator.c
  tests/t565-operator.c
Labels: 1-In Review, enhancement, interface

#719 doc - improve release notes
  doc/sphinx/source/releasenotes.rst
Labels: 0-WIP, documentation

#720 petsc - vtk->vtu
  examples/petsc/bps.c
  examples/petsc/bpsraw.c
Labels: 1-In Review, PETSc, minor

#601 Euler Traveling Vortex Test
  doc/sphinx/source/references.bib
  examples/fluids/.gitignore
  examples/fluids/README.md
  examples/fluids/advection.h
  examples/fluids/advection2d.h
  examples/fluids/conv_plot.py
  examples/fluids/conv_test.sh
  examples/fluids/densitycurrent.h
  examples/fluids/euler-vortex.h
  examples/fluids/index.rst
  examples/fluids/navierstokes.c
  examples/fluids/stdoutParsing.py
  examples/fluids/tests-output/fluids_navierstokes_etv.csv
Labels: 1-In Review, PETSc, examples
