Repository CEED/libCEED, pull requests merged in 2021-05, with the labels that each got.

#763 Update Rust Github Action
  .github/workflows/rust-test-with-style.yml
Labels: 1-In Review, CI, Rust, minor

#767 Update GPU arch argument for hiprtc
  README.rst
  backends/hip/ceed-hip-compile.cpp
Labels: 1-In Review, HIP

#764 junit - set CEED_ERROR_HANDLER to exit
  .gitlab-ci.yml
  Makefile
  examples/petsc/Makefile
  examples/petsc/area.c
  examples/petsc/area.h
  examples/petsc/bps.c
  examples/petsc/bps.h
  examples/petsc/bpssphere.c
  examples/petsc/bpssphere.h
  examples/petsc/include/bcfunctions.h
  examples/petsc/include/petscmacros.h
  examples/petsc/multigrid.c
  examples/petsc/src/bcfunctions.c
  examples/petsc/src/libceedsetup.c
  tests/junit.py
Labels: 1-In Review, CI, bug, minor

#768 Remove Template Gallery and Backend Code
  .gitlab-ci.yml
  Makefile
  backends/template/ceed-tmpl-sub.c
  backends/template/ceed-tmpl.c
  doc/sphinx/source/releasenotes.rst
  gallery/ceed-gallerytemplate.c
  gallery/ceed-gallerytemplate.h
Labels: 1-In Review, building, design

#771 Minor fixes
  backends/hip/ceed-hip-compile.cpp
  backends/magma/ceed-magma.h
Labels: minor

#769 Rewrite (b-I3) in terms of Grad(u)
  examples/solids/elasticity.h
  examples/solids/index.rst
  examples/solids/qfunctions/FSCurrent-NH1.h
  examples/solids/qfunctions/FSCurrent-NH2.h
  examples/solids/src/setuplibceed.c
Labels: 1-In Review, examples

#770 gitlab-ci: add lv-cuda
  .gitlab-ci.yml
  Makefile
  examples/petsc/Makefile
  tests/junit.py
Labels: CI, CUDA, GPU

#754 Fluids - Refactor
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda/ceed-cuda-qfunction-load.cpp
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/hip/ceed-hip-qfunction-load.cpp
  backends/occa/ceed-occa-qfunction.cpp
  examples/fluids/Makefile
  examples/fluids/README.md
  examples/fluids/conv_plot.py
  examples/fluids/conv_test.sh
  examples/fluids/index.rst
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/problems/advection.c
  examples/fluids/problems/advection2d.c
  examples/fluids/problems/densitycurrent.c
  examples/fluids/problems/eulervortex.c
  examples/fluids/qfunctions/advection.h
  examples/fluids/qfunctions/advection2d.h
  examples/fluids/qfunctions/densitycurrent.h
  examples/fluids/qfunctions/eulervortex.h
  examples/fluids/qfunctions/mass.h
  examples/fluids/qfunctions/setupgeo.h
  examples/fluids/qfunctions/setupgeo2d.h
  examples/fluids/src/cloptions.c
  examples/fluids/src/misc.c
  examples/fluids/src/setupdm.c
  examples/fluids/src/setuplibceed.c
  examples/fluids/src/setupts.c
  examples/fluids/stdoutParsing.py
  examples/fluids/tests-output/fluids-navierstokes-adv-rotation-explicit-strong.bin
  examples/fluids/tests-output/fluids-navierstokes-adv-rotation-implicit-sharp-cylinder.bin
  examples/fluids/tests-output/fluids-navierstokes-adv-rotation-implicit-stab-supg.bin
  examples/fluids/tests-output/fluids-navierstokes-adv-translation-implicit-stab-su.bin
  examples/fluids/tests-output/fluids-navierstokes-adv2d-rotation-explicit-strong.bin
  examples/fluids/tests-output/fluids-navierstokes-adv2d-rotation-implicit-stab-supg.bin
  examples/fluids/tests-output/fluids-navierstokes-adv2d-translation-implicit-stab-su.bin
  examples/fluids/tests-output/fluids-navierstokes-conv-euler.csv
  examples/fluids/tests-output/fluids-navierstokes-euler-explicit-test-none.bin
  examples/fluids/tests-output/fluids-navierstokes-euler-implicit-test-none.bin
  examples/fluids/tests-output/fluids-navierstokes-euler-implicit-test-t1.bin
  examples/fluids/tests-output/fluids-navierstokes-euler-implicit-test-t2.bin
  examples/fluids/tests-output/fluids-navierstokes-euler-implicit-test-t3.bin
  examples/fluids/tests-output/fluids-navierstokes-euler-implicit-test-t4.bin
  examples/fluids/tests-output/fluids_navierstokes_etv.csv
  examples/solids/elasticity.c
  examples/solids/qfunctions/FSCurrent-NH1.h
  examples/solids/qfunctions/FSCurrent-NH2.h
  examples/solids/qfunctions/FSInitial-NH1.h
  examples/solids/qfunctions/FSInitial-NH2.h
  examples/solids/qfunctions/SS-NH.h
  include/ceed/ceed.h
  tests/junit.py
  tests/t405-qfunction.c
  tests/t405-qfunction.h
  tests/tap.sh
Labels: 1-In Review, examples

#766 rust: split crates into libceed-sys and libceed
  .github/workflows/rust-documentation.yml
  Cargo.toml
  doc/sphinx/source/ffi.rst
  examples/python/img/QFunctionSketch.svg
  examples/python/tutorial-0-ceed.ipynb
  examples/python/tutorial-1-vector.ipynb
  examples/python/tutorial-2-elemrestriction.ipynb
  examples/python/tutorial-3-basis.ipynb
  examples/python/tutorial-4-qfunction.ipynb
  examples/python/tutorial-5-operator.ipynb
  examples/python/tutorial-6-shell.ipynb
  examples/rust/ex1-volume/Cargo.toml
  examples/rust/ex2-surface/Cargo.toml
  examples/rust/mesh/Cargo.toml
  rust/Cargo.toml
  rust/libceed-sys/.gitignore
  rust/libceed-sys/Cargo.toml
  rust/libceed-sys/README.md
  rust/libceed-sys/build.rs
  rust/libceed-sys/c-src/Makefile
  rust/libceed-sys/c-src/backends
  rust/libceed-sys/c-src/ceed.pc.template
  rust/libceed-sys/c-src/common.mk
  rust/libceed-sys/c-src/gallery
  rust/libceed-sys/c-src/include
  rust/libceed-sys/c-src/interface
  rust/libceed-sys/src/lib.rs
  rust/libceed-sys/tests/register.rs
  rust/libceed-sys/tests/version-numbers.rs
  rust/libceed/.gitignore
  rust/libceed/Cargo.toml
  rust/libceed/README.md
  rust/libceed/src/basis.rs
  rust/libceed/src/elem_restriction.rs
  rust/libceed/src/lib.rs
  rust/libceed/src/operator.rs
  rust/libceed/src/qfunction.rs
  rust/libceed/src/vector.rs
  rust/libceed/tests/version-numbers.rs
  rust/tests/version-numbers.rs
Labels: Rust

#772 doc - use docs.rs over self hosted documentation
  .github/workflows/rust-documentation.yml
  doc/sphinx/source/ffi.rst
  rust/libceed-sys/Cargo.toml
  rust/libceed/Cargo.toml
Labels: 1-In Review, bug, documentation, minor

#773 Fluids - small fix in the README file
  examples/fluids/README.md
Labels: examples, minor
