Repository CEED/libCEED, pull requests merged in 2021-07, with the labels that each got.

#530 Joss paper
  README.rst
  doc/bib/references.bib
  doc/papers/joss/.gitignore
  doc/papers/joss/img/QFunctionSketch.pdf
  doc/papers/joss/img/SolidTwistExample.jpeg
  doc/papers/joss/img/Vortices.png
  doc/papers/joss/img/bp3-2020.pdf
  doc/papers/joss/img/libCEED-2-trim.pdf
  doc/papers/joss/img/libCEEDBackends.png
  doc/papers/joss/paper.bib
  doc/papers/joss/paper.md
Labels: 1-In Review, papers

#790 Add JOSS paper citation
  README.rst
  doc/bib/references.bib
  doc/sphinx/source/intro.rst
  doc/sphinx/source/references.bib
Labels: documentation

#793 ex - remove recast of fixed length array as vla
  examples/ceed/ex1-volume.c
Labels: 1-In Review, bug, examples, minor
