Repository CEED/libCEED, pull requests merged in 2021-09, with the labels that each got.

#787 Use more `__restrict__` in `cuda-gen` backend.
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Labels: enhancement, performance, CUDA, 1-In Review

#804 make CUDA block sizes fit according to number of used registers
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda/ceed-cuda-qfunction.c
  backends/cuda/ceed-cuda.c
  backends/cuda/ceed-cuda.h
Labels: backend, CUDA

#810 Adjust cuda-gen launch to limit z dimension of thread block
  backends/cuda-gen/ceed-cuda-gen-operator.c
Labels: minor, CUDA

#806 Promote Field Getters to Public API
  backends/blocked/ceed-blocked-operator.c
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda/ceed-cuda-operator.c
  backends/cuda/ceed-cuda-qfunction-load.cpp
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator.c
  backends/hip/ceed-hip-operator.c
  backends/hip/ceed-hip-qfunction-load.cpp
  backends/occa/ceed-occa-operator-args.cpp
  backends/occa/ceed-occa-qfunction-args.cpp
  backends/opt/ceed-opt-operator.c
  backends/ref/ceed-ref-operator.c
  doc/sphinx/source/releasenotes.md
  examples/rust/ex1-volume/src/main.rs
  examples/rust/ex1-volume/src/transform.rs
  examples/rust/ex2-surface/src/main.rs
  examples/rust/ex2-surface/src/transform.rs
  examples/rust/mesh/src/lib.rs
  include/ceed-impl.h
  include/ceed/backend.h
  include/ceed/ceed.h
  interface/ceed-basis.c
  interface/ceed-elemrestriction.c
  interface/ceed-operator.c
  interface/ceed-preconditioning.c
  interface/ceed-qfunction.c
  interface/ceed-vector.c
  julia/LibCEED.jl/src/LibCEED.jl
  julia/LibCEED.jl/src/QFunction.jl
  julia/LibCEED.jl/src/generated/libceed_bindings.jl
  julia/LibCEED.jl/test/runtests.jl
  rust/libceed/README.md
  rust/libceed/src/basis.rs
  rust/libceed/src/elem_restriction.rs
  rust/libceed/src/lib.rs
  rust/libceed/src/operator.rs
  rust/libceed/src/qfunction.rs
  rust/libceed/src/vector.rs
Labels: enhancement, design, interface, 1-In Review

#813 rust - fix some stray unwrap()s
  examples/rust/ex1-volume/src/main.rs
  examples/rust/ex2-surface/src/main.rs
  examples/rust/mesh/src/lib.rs
Labels: minor, 1-In Review, Rust

#811 Store Objects For QFunction Reassembly
  backends/blocked/ceed-blocked-operator.c
  backends/blocked/ceed-blocked.h
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda/ceed-cuda-operator.c
  backends/cuda/ceed-cuda.h
  backends/hip/ceed-hip-operator.c
  backends/hip/ceed-hip.h
  backends/opt/ceed-opt-operator.c
  backends/opt/ceed-opt.h
  backends/ref/ceed-ref-operator.c
  backends/ref/ceed-ref.h
  doc/sphinx/source/releasenotes.md
  include/ceed-impl.h
  include/ceed/ceed.h
  interface/ceed-operator.c
  interface/ceed-preconditioning.c
  interface/ceed.c
Labels: enhancement, performance, CUDA, 1-In Review

#819 Examples - Fix default number of faces
  examples/fluids/navierstokes.c
  examples/fluids/src/setupdm.c
  examples/solids/src/setup-dm.c
Labels: examples, PETSc, 1-In Review
