Repository CEED/libCEED, pull requests merged in 2022-07, with the labels that each got.

#1009 Fluids - Use libCEED to compute Dirichlet boundary conditions
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  doc/sphinx/source/releasenotes.md
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/problems/eulervortex.c
  examples/fluids/problems/stg_shur14.c
  examples/fluids/problems/stg_shur14.h
  examples/fluids/qfunctions/dirichlet_boundary.h
  examples/fluids/qfunctions/stg_shur14.h
  examples/fluids/src/dirichlet.c
  examples/fluids/src/setuplibceed.c
  examples/fluids/tests-output/fluids-navierstokes-blasius_STG_strongBC.bin
Labels: examples, 0-WIP

#1016 examples/fluids: use DMGetCellCoordinateDM to handle periodicity
  examples/fluids/src/setupdm.c
  examples/fluids/src/setuplibceed.c
Labels: examples, PETSc

#1019 Early check that CEED_BASIS_COLLOCATED only has CEED_EVAL_NONE
  include/ceed/ceed.h
  interface/ceed-operator.c
Labels: enhancement, minor, 1-In Review

#1024 Update CeedOperatorCheckField function for H(div) basis
  interface/ceed-operator.c
Labels: interface, 1-In Review

#1025 basis - fix pointer pointer mistake
  interface/ceed-basis.c
Labels: bug, 1-In Review

#994 Fluids block diagonal
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/src/cloptions.c
  examples/fluids/src/setupdm.c
  examples/fluids/src/setupts.c
  interface/ceed-operator.c
Labels: examples, performance, 1-In Review

#1026 pc - fix small leak
  interface/ceed-preconditioning.c
Labels: bug, 1-In Review

#1027 fluids: Skip I/O if output_freq == 0
  examples/fluids/README.md
  examples/fluids/problems/blasius.c
  examples/fluids/src/setupts.c
Labels: examples, 1-In Review

#995 Fluids - Minor Refactor
  examples/fluids/.gitignore
  examples/fluids/navierstokes.c
  examples/fluids/qfunctions/channel.h
  examples/fluids/qfunctions/densitycurrent.h
  examples/fluids/qfunctions/newtonian.h
  examples/fluids/qfunctions/newtonian_state.h
  examples/fluids/qfunctions/stabilization.h
  examples/fluids/tests-output/fluids-navierstokes-channel-prim.bin
Labels: enhancement, examples, 1-In Review

#1030 Fix error message int format
  interface/ceed-operator.c
Labels: bug, minor, 1-In Review
