Repository CEED/libCEED, pull requests merged in 2022-04, with the labels that each got.

#937 ceed - add JiT source root to topmost parent
  interface/ceed-jit-tools.c
  interface/ceed.c
Labels: bug, 1-In Review

#938 minor - unify strncpy vs memcpy, silence errors
  Makefile
  interface/ceed-jit-tools.c
  interface/ceed-qfunction.c
  interface/ceed.c
Labels: minor, 1-In Review

#934 Prepare for v0.10.1 patch
  CITATION.cff
  Doxyfile
  ceed.pc.template
  doc/sphinx/source/releasenotes.md
  include/ceed/ceed.h
Labels: 1-In Review

#939 minor - toggle release flag
  include/ceed/ceed.h
Labels: minor, 1-In Review

#943 examples: use PetscInt_FMT instead of %D
  examples/fluids/navierstokes.c
  examples/fluids/src/cloptions.c
  examples/fluids/src/misc.c
  examples/fluids/src/setupts.c
  examples/petsc/area.c
  examples/petsc/bps.c
  examples/petsc/bpsraw.c
  examples/petsc/bpssphere.c
  examples/petsc/multigrid.c
  examples/solids/elasticity.c
  examples/solids/src/misc.c
Labels: examples

#945 Remove 'quoted' operator assembly kernels
  backends/cuda-ref/ceed-cuda-ref-operator.c
  backends/hip-ref/ceed-hip-ref-operator.c
  include/ceed/jit-source/cuda/cuda-ref-operator-assemble-diagonal.h
  include/ceed/jit-source/cuda/cuda-ref-operator-assemble.h
  include/ceed/jit-source/hip/hip-ref-operator-assemble-diagonal.h
  include/ceed/jit-source/hip/hip-ref-operator-assemble.h
Labels: minor, GPU, CUDA, 1-In Review, HIP

#949 Small doc update
  benchmarks/petsc-bps.sh
  benchmarks/petsc-bpsraw.sh
  examples/fluids/README.md
  examples/petsc/README.md
  examples/solids/README.md
  examples/solids/src/cl-options.c
Labels: minor, documentation, 1-In Review

#950 Use backend functions for SyncArray in CUDA and HIP
  backends/cuda-ref/ceed-cuda-vector.c
  backends/hip-ref/ceed-hip-ref-vector.c
  interface/ceed.c
Labels: backend, GPU, CUDA, HIP

#951 Use CeedMallocArray for void data pointers in CUDA/HIP QFunctionContext
  backends/cuda-ref/ceed-cuda-ref-qfunctioncontext.c
  backends/hip-ref/ceed-hip-ref-qfunctioncontext.c
Labels: minor, CUDA, HIP

#952 QFunctionContext User Destroy
  include/ceed-impl.h
  include/ceed/ceed.h
  interface/ceed-qfunctioncontext.c
  rust/libceed/src/qfunction.rs
Labels: 1-In Review, Rust
