Repository CEED/libCEED, pull requests merged in 2023-11, with the labels that each got.

#1346 Release - version 0.12.0
  CITATION.cff
  Doxyfile
  README.md
  ceed.pc.template
  doc/sphinx/source/releasenotes.md
  examples/fluids/index.md
  examples/fluids/navierstokes.h
  examples/petsc/dmswarm.c
  examples/petsc/include/petscversion.h
  examples/solids/elasticity.h
  include/ceed/ceed.h
  interface/ceed-basis.c
  interface/ceed-elemrestriction.c
  rust/libceed-sys/Cargo.toml
  rust/libceed-sys/README.md
  rust/libceed-sys/build.rs
  rust/libceed/Cargo.toml
  rust/libceed/README.md
Labels: 1-In Review, release preparation

#1301 H(div) and H(curl) basis support for `magma` backend
  backends/magma/ceed-magma-basis.c
  backends/magma/ceed-magma.c
  backends/magma/ceed-magma.h
  include/ceed/jit-source/magma/magma-basis-grad-1d.h
  include/ceed/jit-source/magma/magma-basis-grad-2d.h
  include/ceed/jit-source/magma/magma-basis-grad-3d.h
  include/ceed/jit-source/magma/magma-basis-grad-nontensor.h
  include/ceed/jit-source/magma/magma-basis-interp-1d.h
  include/ceed/jit-source/magma/magma-basis-interp-2d.h
  include/ceed/jit-source/magma/magma-basis-interp-3d.h
  include/ceed/jit-source/magma/magma-basis-interp-deriv-nontensor.h
  include/ceed/jit-source/magma/magma-basis-interp-nontensor.h
  include/ceed/jit-source/magma/magma-basis-weight-1d.h
  include/ceed/jit-source/magma/magma-basis-weight-2d.h
  include/ceed/jit-source/magma/magma-basis-weight-3d.h
  include/ceed/jit-source/magma/magma-basis-weight-nontensor.h
  include/ceed/jit-source/magma/magma-common-defs.h
  include/ceed/jit-source/magma/magma-common-nontensor.h
  include/ceed/jit-source/magma/magma-common-tensor.h
Labels: GPU, MAGMA, 1-In Review

#1366 `magma` backend RTC autotuning
  backends/magma/ceed-magma-gemm-selector.cpp
  backends/magma/ceed-magma-gemm-selector.h
  backends/magma/ceed-magma.h
  backends/magma/tuning/.gitignore
  backends/magma/tuning/Makefile
  backends/magma/tuning/README.md
  backends/magma/tuning/a100_grad_rtc.h
  backends/magma/tuning/a100_interp_rtc.h
  backends/magma/tuning/a100_rtc.h
  backends/magma/tuning/generate_tuning.py
  backends/magma/tuning/h100_rtc.h
  backends/magma/tuning/indices.h
  backends/magma/tuning/mi100_rtc.h
  backends/magma/tuning/mi250x_grad_rtc.h
  backends/magma/tuning/mi250x_interp_rtc.h
  backends/magma/tuning/mi250x_rtc.h
  backends/magma/tuning/tuning.cpp
  backends/magma/tuning/v100_rtc.h
  include/ceed/jit-source/magma/magma-basis-interp-deriv-nontensor.h
Labels: GPU, MAGMA, 1-In Review

#1391 Plex project coord renamed
  .github/workflows/c-fortran-test-icc.sh
  .github/workflows/c-fortran-test-icc.yml
  examples/fluids/navierstokes.h
  examples/fluids/src/dm_utils.c
  examples/fluids/src/turb_spanstats.c
  examples/petsc/area.c
  examples/petsc/dmswarm.c
  examples/petsc/include/petscutils.h
  examples/petsc/src/petscutils.c
  examples/solids/elasticity.h
  examples/solids/src/setup-dm.c
Labels: 1-In Review, CI

#1398 Remove legacy `CeedChk` and `CeedChkBackend`
  backends/ceed-backend-weak.c
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/occa/ceed-occa-elem-restriction.cpp
  include/ceed/backend.h
  include/ceed/ceed.h
  interface/ceed-fortran.c
Labels: minor, 1-In Review

#1396 Add Boolan context field register/set/get/restore
  doc/sphinx/source/releasenotes.md
  include/ceed/backend.h
  include/ceed/ceed.h
  include/ceed/types.h
  interface/ceed-operator.c
  interface/ceed-qfunctioncontext.c
  interface/ceed-types.c
  tests/t407-qfunction.c
Labels: enhancement, 1-In Review

#1400 Set main to non-release
  include/ceed/ceed.h
Labels: bug, 1-In Review

#1381 fluids: Remove coordinates from IFunction_NodalSgs
  examples/fluids/problems/sgs_dd_model.c
  examples/fluids/qfunctions/sgs_dd_model.h
Labels: minor, examples, 1-In Review

#1399 fluids: Cleanup advection problems
  examples/fluids/navierstokes.h
  examples/fluids/problems/advection.c
  examples/fluids/problems/advection2d.c
  examples/fluids/problems/eulervortex.c
  examples/fluids/problems/newtonian.c
  examples/fluids/problems/shocktube.c
  examples/fluids/qfunctions/advection.h
  examples/fluids/qfunctions/advection2d.h
  examples/fluids/qfunctions/advection_types.h
  examples/fluids/src/setuplibceed.c
Labels: examples, 1-In Review

#1203 fluids: SmartSim Online Data-Driven SGS training
  .gitlab-ci.yml
  Makefile
  examples/fluids/Makefile
  examples/fluids/README.md
  examples/fluids/include/petsc_ops.h
  examples/fluids/include/smartsim.h
  examples/fluids/index.md
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/problems/sgs_dd_model.c
  examples/fluids/qfunctions/differential_filter.h
  examples/fluids/qfunctions/differential_filter_enums.h
  examples/fluids/qfunctions/newtonian_state.h
  examples/fluids/qfunctions/sgs_dd_training.h
  examples/fluids/smartsim_regression_framework.py
  examples/fluids/src/cloptions.c
  examples/fluids/src/differential_filter.c
  examples/fluids/src/setuplibceed.c
  examples/fluids/src/setupts.c
  examples/fluids/src/smartsim/sgs_dd_training.c
  examples/fluids/src/smartsim/smartsim.c
  examples/fluids/src/smartsim_weak.c
  examples/fluids/src/velocity_gradient_projection.c
  examples/fluids/tests-output/y0_output.npy
  tests/junit.py
  tests/junit_common.py
Labels: examples, 1-In Review

#1397 Enable CEED_EVAL_WEIGHT for BasisApplyAtPoints
  interface/ceed-basis.c
Labels: interface, 1-In Review

#1405 Change order of ElemRestriction/Basis AtPoints
  backends/ref/ceed-ref-restriction.c
  interface/ceed-basis.c
  interface/ceed-elemrestriction.c
  tests/t351-basis.c
  tests/t352-basis.c
  tests/t354-basis.c
  tests/t356-basis.c
Labels: interface, 1-In Review

#1390 OperatorAtPoints
  backends/ref/ceed-ref-operator.c
  backends/ref/ceed-ref.c
  backends/ref/ceed-ref.h
  doc/sphinx/source/releasenotes.md
  include/ceed-impl.h
  include/ceed/backend.h
  include/ceed/ceed.h
  interface/ceed-elemrestriction.c
  interface/ceed-operator.c
  interface/ceed.c
  tests/README.md
  tests/t590-operator.c
  tests/t590-operator.h
  tests/t591-operator.c
  tests/t591-operator.h
Labels: design, interface, CPU, 1-In Review

#1408 CI: SmartSim test asks for open socket
  examples/fluids/smartsim_regression_framework.py
Labels: examples, 0-WIP
