Repository CEED/libCEED, pull requests merged in 2023-06, with the labels that each got.

#1189 fluids: Add differential filtering capability
  doc/sphinx/source/references.bib
  examples/fluids/README.md
  examples/fluids/index.md
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/problems/blasius.c
  examples/fluids/problems/sgs_dd_model.c
  examples/fluids/qfunctions/blasius.h
  examples/fluids/qfunctions/differential_filter.h
  examples/fluids/qfunctions/freestream_bc.h
  examples/fluids/qfunctions/grid_anisotropy_tensor.h
  examples/fluids/qfunctions/newtonian.h
  examples/fluids/qfunctions/sgs_dd_model.h
  examples/fluids/qfunctions/velocity_gradient_projection.h
  examples/fluids/src/cloptions.c
  examples/fluids/src/differential_filter.c
  examples/fluids/src/grid_anisotropy_tensor.c
  examples/fluids/src/setuplibceed.c
  examples/fluids/src/setupts.c
  examples/fluids/src/strong_boundary_conditions.c
  examples/fluids/src/turb_spanstats.c
  examples/fluids/src/velocity_gradient_projection.c
  examples/fluids/tests-output/diff_filter_mms_y_spacing.dat
  examples/fluids/tests-output/fluids-navierstokes-blasius_diff_filter_aniso_vandriest.bin
  examples/fluids/tests-output/fluids-navierstokes-blasius_diff_filter_iso.bin
Labels: enhancement, examples, 1-In Review

#1228 minor - initialize char ptr to NULL instead of empty string
  interface/ceed-preconditioning.c
Labels: minor, 1-In Review

#1229 Add sycl/ref and sycl/shared backends
  Makefile
  README.md
  backends/ceed-backend-list.h
  backends/sycl-ref/ceed-sycl-ref-basis.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-operator.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-qfunction-load.hpp
  backends/sycl-ref/ceed-sycl-ref-qfunction-load.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-qfunction.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-qfunctioncontext.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref.hpp
  backends/sycl-ref/ceed-sycl-ref.sycl.cpp
  backends/sycl-ref/ceed-sycl-restriction.sycl.cpp
  backends/sycl-ref/ceed-sycl-vector.sycl.cpp
  backends/sycl-ref/kernels/sycl-ref-vector.hpp
  backends/sycl-shared/ceed-sycl-shared-basis.sycl.cpp
  backends/sycl-shared/ceed-sycl-shared.hpp
  backends/sycl-shared/ceed-sycl-shared.sycl.cpp
  backends/sycl-shared/kernels/sycl-shared-basis.hpp
  backends/sycl/ceed-sycl-common.hpp
  backends/sycl/ceed-sycl-common.sycl.cpp
  backends/sycl/ceed-sycl-compile.hpp
  backends/sycl/ceed-sycl-compile.sycl.cpp
  backends/sycl/ocloc_api.h
  backends/sycl/online_compiler.hpp
  backends/sycl/online_compiler.sycl.cpp
  doc/sphinx/source/releasenotes.md
  examples/ceed/ex1-volume.c
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/qfunctions/differential_filter.h
  examples/fluids/qfunctions/sgs_dd_model.h
  include/ceed/jit-source/sycl/sycl-jit.h
  include/ceed/jit-source/sycl/sycl-ref-qfunction.h
  include/ceed/jit-source/sycl/sycl-shared-basis-read-write-templates.h
  include/ceed/jit-source/sycl/sycl-shared-basis-tensor-templates.h
  include/ceed/jit-source/sycl/sycl-shared-basis-tensor.h
  include/ceed/jit-source/sycl/sycl-types.h
  include/ceed/sycl.h
  tests/junit.py
Labels: backend

#1235 fluids: Remove unnecessary state vector write
  examples/fluids/src/setupts.c
Labels: examples

#1236 fluids: Add CeedOperator PetscLogEvents
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/src/misc.c
  examples/fluids/src/petsc_ops.c
  examples/fluids/src/setupts.c
Labels: enhancement, examples

#1237 examples: Use PETSC_SUCCESS in PetscFunctionReturn
  examples/fluids/problems/advection.c
  examples/fluids/problems/advection2d.c
  examples/fluids/problems/blasius.c
  examples/fluids/problems/channel.c
  examples/fluids/problems/densitycurrent.c
  examples/fluids/problems/eulervortex.c
  examples/fluids/problems/freestream_bc.c
  examples/fluids/problems/gaussianwave.c
  examples/fluids/problems/newtonian.c
  examples/fluids/problems/sgs_dd_model.c
  examples/fluids/problems/shocktube.c
  examples/fluids/problems/stg_shur14.c
  examples/fluids/src/cloptions.c
  examples/fluids/src/differential_filter.c
  examples/fluids/src/grid_anisotropy_tensor.c
  examples/fluids/src/misc.c
  examples/fluids/src/petsc_ops.c
  examples/fluids/src/setupdm.c
  examples/fluids/src/setuplibceed.c
  examples/fluids/src/setupts.c
  examples/fluids/src/strong_boundary_conditions.c
  examples/fluids/src/turb_spanstats.c
  examples/fluids/src/velocity_gradient_projection.c
  examples/petsc/bps.c
  examples/petsc/bpsraw.c
  examples/petsc/src/libceedsetup.c
  examples/petsc/src/matops.c
  examples/petsc/src/petscutils.c
  examples/solids/problems/finite-strain-mooney-rivlin-initial-1.c
  examples/solids/problems/finite-strain-neo-hookean-current-1.c
  examples/solids/problems/finite-strain-neo-hookean-current-2.c
  examples/solids/problems/finite-strain-neo-hookean-initial-1.c
  examples/solids/problems/finite-strain-neo-hookean-initial-2.c
  examples/solids/problems/linear.c
  examples/solids/problems/mooney-rivlin.c
  examples/solids/problems/neo-hookean.c
  examples/solids/problems/problems.c
  examples/solids/problems/small-strain-neo-hookean.c
  examples/solids/src/boundary.c
  examples/solids/src/cl-options.c
  examples/solids/src/matops.c
  examples/solids/src/misc.c
  examples/solids/src/setup-dm.c
  examples/solids/src/setup-libceed.c
Labels: examples

#1238 Minor - add missing return statement
  interface/ceed.c
Labels: bug, 1-In Review

#1240 readme - fix typo
  README.md
Labels: minor, 1-In Review

#1242 Remove unneeded guard in BasisDestroy
  interface/ceed-basis.c
Labels: minor, 1-In Review

#1234 fluids: Compatability for PETSc w/ 64bit ints
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/problems/advection.c
  examples/fluids/problems/advection2d.c
  examples/fluids/problems/blasius.c
  examples/fluids/problems/eulervortex.c
  examples/fluids/problems/newtonian.c
  examples/fluids/problems/sgs_dd_model.c
  examples/fluids/problems/shocktube.c
  examples/fluids/problems/stg_shur14.c
  examples/fluids/src/differential_filter.c
  examples/fluids/src/grid_anisotropy_tensor.c
  examples/fluids/src/misc.c
  examples/fluids/src/setupdm.c
  examples/fluids/src/setuplibceed.c
  examples/fluids/src/setupts.c
  examples/fluids/src/turb_spanstats.c
  examples/fluids/src/velocity_gradient_projection.c
Labels: enhancement, examples
