Repository CEED/libCEED, pull requests merged in 2023-01, with the labels that each got.

#1127 Early exit for empty operators in pc assembly
  interface/ceed-preconditioning.c
Labels: bug, minor, 1-In Review

#1129 fluids restart: set step number
  examples/fluids/qfunctions/newtonian_state.h
  examples/fluids/src/setupts.c
Labels: examples

#1131 fluids: checkpoint interval
  examples/fluids/README.md
  examples/fluids/blasius.yaml
  examples/fluids/navierstokes.h
  examples/fluids/src/cloptions.c
  examples/fluids/src/misc.c
  examples/fluids/src/setupts.c
  examples/fluids/vortexshedding.yaml
Labels: examples

#1132 Update user manual citation
  README.md
Labels: minor, documentation, 1-In Review

#1133 Switch outflow from pressure to Riemann pressure + temperature
  examples/fluids/README.md
  examples/fluids/index.md
  examples/fluids/meshes/Makefile
  examples/fluids/meshes/cylinder.geo
  examples/fluids/navierstokes.h
  examples/fluids/newtonianwave.yaml
  examples/fluids/problems/freestream_bc.c
  examples/fluids/problems/newtonian.c
  examples/fluids/qfunctions/freestream_bc.h
  examples/fluids/qfunctions/freestream_bc_type.h
  examples/fluids/qfunctions/newtonian.h
  examples/fluids/qfunctions/newtonian_state.h
  examples/fluids/tests-output/blasius_stgtest.yaml
  examples/fluids/tests-output/blasius_test.yaml
  examples/fluids/vortexshedding.yaml
Labels: examples

#1140 Minor doc fixes
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE
  README.md
Labels: documentation, 1-In Review

#1143 gitlab-ci: use safe.directory to describe system directories
  .gitlab-ci.yml
Labels: CI

#1135 fluids: Spanwise Statistics Collection
  examples/fluids/README.md
  examples/fluids/blasius.yaml
  examples/fluids/include/matops.h
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/problems/newtonian.c
  examples/fluids/qfunctions/mass.h
  examples/fluids/qfunctions/newtonian_state.h
  examples/fluids/qfunctions/newtonian_types.h
  examples/fluids/qfunctions/turb_spanstats.h
  examples/fluids/qfunctions/turb_stats_types.h
  examples/fluids/src/cloptions.c
  examples/fluids/src/matops.c
  examples/fluids/src/misc.c
  examples/fluids/src/setuplibceed.c
  examples/fluids/src/setupts.c
  examples/fluids/src/turb_spanstats.c
  examples/fluids/tests-output/fluids-navierstokes-turb-spanstats-IC.bin
  examples/fluids/tests-output/fluids-navierstokes-turb-spanstats-stats.bin
  examples/fluids/tests-output/stats_test.yaml
Labels: enhancement, examples, 1-In Review

#1141 Icl/nt rtc
  .gitlab-ci.yml
  Makefile
  README.md
  backends/cuda/ceed-cuda-compile.cpp
  backends/magma/ceed-magma-basis.c
  backends/magma/ceed-magma-restriction.c
  backends/magma/ceed-magma.h
  backends/magma/gemm_selector.cpp
  backends/magma/gemm_tuning/a100_grad_rtc.h
  backends/magma/gemm_tuning/a100_interp_rtc.h
  backends/magma/gemm_tuning/indices.h
  backends/magma/gemm_tuning/mi250x_grad_rtc.h
  backends/magma/gemm_tuning/mi250x_interp_rtc.h
  backends/magma/magma_dgemm_nontensor.c
  backends/magma/magma_gemm_nontensor.c
  backends/magma/magma_sgemm_nontensor.c
  include/ceed/jit-source/magma/grad-nontensor.h
  include/ceed/jit-source/magma/interp-nontensor.h
  include/ceed/jit-source/magma/magma_common_defs.h
  include/ceed/jit-source/magma/magma_common_nontensor.h
  include/ceed/jit-source/magma/magma_common_tensor.h
Labels: 1-In Review

#1148 OperatorContextGet[Double, Int]
  include/ceed/backend.h
  include/ceed/ceed.h
  interface/ceed-operator.c
  interface/ceed-qfunctioncontext.c
  tests/t525-operator.c
Labels: enhancement, minor, interface, 1-In Review
