Repository CEED/libCEED, pull requests merged in 2024-02, with the labels that each got.

#1429 Reduce LCOV_EXCL markers
  backends/blocked/ceed-blocked-operator.c
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-ref/ceed-cuda-ref-basis.c
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/hip-ref/ceed-hip-ref-basis.c
  backends/hip-shared/ceed-hip-shared-basis.c
  backends/magma/ceed-magma-basis.c
  backends/memcheck/ceed-memcheck-qfunctioncontext.c
  backends/memcheck/ceed-memcheck-vector.c
  backends/opt/ceed-opt-operator.c
  backends/ref/ceed-ref-basis.c
  backends/ref/ceed-ref-operator.c
  backends/ref/ceed-ref-qfunctioncontext.c
  backends/ref/ceed-ref-vector.c
  interface/ceed-operator.c
  interface/ceed-qfunction.c
  interface/ceed-qfunctioncontext.c
  interface/ceed.c
  tests/output/t402-qfunction.out
  tests/t402-qfunction.c
Labels: minor, 1-In Review

#1465 Update diff_csv to prevent test harness crashes
  tests/junit_common.py
Labels: 1-In Review, CI

#1466 Don't error CeedOperatorGetFieldByName when field not found
  interface/ceed-operator.c
Labels: minor, interface, 1-In Review

#1467 test: Fix test name for PETSc bps
  examples/petsc/bps.c
Labels: minor, testing, examples, 1-In Review

#1469 Rust - Fix QFunction FFI Inputs/Outputs
  rust/libceed/src/qfunction.rs
Labels: bug, 1-In Review, CI, Rust

#1251 CeedMatrixPseudoinverse utility function
  examples/rust/ex1-volume/src/main.rs
  include/ceed/backend.h
  interface/ceed-basis.c
Labels: enhancement, 1-In Review

#1471 Skip tet tests without tetget installed
  tests/junit.py
Labels: bug, minor, 1-In Review, CI

#1446 fluids: Misc refactor/updates for advection and stabilization
  examples/fluids/index.md
  examples/fluids/qfunctions/advection.h
  examples/fluids/qfunctions/stabilization.h
Labels: minor, documentation, examples, 1-In Review

#1472 junit - allow looser CGNS tol
  tests/junit_common.py
Labels: 1-In Review, CI

#1474 Use CeedSize for rstr vec len checks
  include/ceed/ceed.h
  interface/ceed-elemrestriction.c
Labels: bug, 1-In Review

#1476 Fallback from GPU gen to shared for non-tensor
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/hip-gen/ceed-hip-gen-operator.c
  include/ceed/backend.h
  interface/ceed-operator.c
Labels: minor, GPU, 1-In Review

#1484 Should error when trying to use QF flops, not retrieve
  interface/ceed-operator.c
  interface/ceed-qfunction.c
Labels: minor, 1-In Review

#1482 Add `CeedOperatorIsAtPoints`
  include/ceed/ceed.h
  interface/ceed-operator.c
  tests/t590-operator.c
  tests/t591-operator.c
Labels: interface, 1-In Review

#1483 Reduce reaching into private data
  include/ceed/backend.h
  include/ceed/ceed.h
  interface/ceed-basis.c
  interface/ceed-elemrestriction.c
  interface/ceed-operator.c
  interface/ceed-preconditioning.c
  interface/ceed-qfunction.c
  interface/ceed-qfunctioncontext.c
  interface/ceed-vector.c
Labels: minor, 1-In Review

#1487 Add const to GetName functions
  backends/cuda-gen/ceed-cuda-gen.h
  backends/cuda-ref/ceed-cuda-ref.h
  backends/hip-gen/ceed-hip-gen.h
  backends/hip-ref/ceed-hip-ref.h
  backends/memcheck/ceed-memcheck-qfunction.c
  backends/occa/ceed-occa-qfunction.cpp
  backends/sycl-ref/ceed-sycl-ref-qfunction-load.sycl.cpp
  examples/rust/ex1-volume/src/main.rs
  examples/rust/ex2-surface/src/main.rs
  examples/rust/ex3-vector-volume/src/main.rs
  examples/rust/ex4-vector-surface/src/main.rs
  include/ceed/backend.h
  include/ceed/ceed.h
  interface/ceed-operator.c
  interface/ceed-preconditioning.c
  interface/ceed-qfunction.c
  rust/libceed/src/operator.rs
  rust/libceed/src/qfunction.rs
Labels: bug, interface, 1-In Review

#1488 Const for CeedQFunctionGetSourcePath
  .gitlab-ci.yml
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-gen/ceed-cuda-gen-qfunction.c
  backends/cuda-gen/ceed-cuda-gen.h
  backends/cuda-ref/ceed-cuda-ref-basis.c
  backends/cuda-ref/ceed-cuda-ref-operator.c
  backends/cuda-ref/ceed-cuda-ref-qfunction-load.cpp
  backends/cuda-ref/ceed-cuda-ref-restriction.c
  backends/cuda-ref/ceed-cuda-ref.h
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/cuda/ceed-cuda-compile.cpp
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-qfunction.c
  backends/hip-gen/ceed-hip-gen.h
  backends/hip-ref/ceed-hip-ref-basis.c
  backends/hip-ref/ceed-hip-ref-operator.c
  backends/hip-ref/ceed-hip-ref-qfunction-load.cpp
  backends/hip-ref/ceed-hip-ref-restriction.c
  backends/hip-ref/ceed-hip-ref.h
  backends/hip-shared/ceed-hip-shared-basis.c
  backends/hip/ceed-hip-compile.cpp
  backends/magma/ceed-magma-basis.c
  backends/memcheck/ceed-memcheck-qfunction.c
  backends/occa/ceed-occa-qfunction.cpp
  backends/sycl-gen/ceed-sycl-gen-operator-build.sycl.cpp
  backends/sycl-gen/ceed-sycl-gen-qfunction.sycl.cpp
  backends/sycl-gen/ceed-sycl-gen.hpp
  backends/sycl-ref/ceed-sycl-ref-qfunction-load.sycl.cpp
  backends/sycl-shared/ceed-sycl-shared-basis.sycl.cpp
  backends/sycl/ceed-sycl-compile.sycl.cpp
  include/ceed/backend.h
  include/ceed/jit-tools.h
  interface/ceed-jit-tools.c
  interface/ceed-qfunction.c
Labels: minor, 1-In Review

#1489 ci - update action versions
  .github/workflows/c-fortran-test-hardware.yml
  .github/workflows/c-fortran-test-icc.yml
  .github/workflows/c-fortran-test-linux-osx.yml
  .github/workflows/c-fortran-test-style.yml
  .github/workflows/julia-documentation.yml
  .github/workflows/julia-test-with-style.yml
  .github/workflows/python-test-with-style.yml
  .github/workflows/python-wheels.yml
  .github/workflows/release-notes.yml
  .github/workflows/rust-documentation.yml
  .github/workflows/rust-test-with-style.yml
Labels: 1-In Review, CI

#1491 fluids: Add missing OperatorApplyContextDestroy and change `if...SETERRQ` -> `PetscCheck`
  examples/fluids/navierstokes.c
  examples/fluids/problems/newtonian.c
  examples/fluids/problems/sgs_dd_model.c
  examples/fluids/src/differential_filter.c
  examples/fluids/src/dm_utils.c
Labels: examples, 1-In Review

#1480 Merge balin/smartsim branch into main with timers for SmartRedis API calls
  examples/fluids/navierstokes.h
  examples/fluids/src/misc.c
  examples/fluids/src/smartsim/sgs_dd_training.c
  examples/fluids/src/smartsim/smartsim.c
Labels: examples

#1492 Remove redundant `CeedOperator[Setup|Restore]InputsAtPoints_Ref` functions
  backends/ref/ceed-ref-operator.c
Labels: minor, backend, PETSc, 1-In Review

#1458 Reduce LCOV_EXCL markers for SYCL backends
  backends/sycl-gen/ceed-sycl-gen-operator-build.sycl.cpp
  backends/sycl-gen/ceed-sycl-gen-qfunction.sycl.cpp
  backends/sycl-gen/ceed-sycl-gen.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-basis.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-operator.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-qfunctioncontext.sycl.cpp
  backends/sycl-ref/ceed-sycl-restriction.sycl.cpp
  backends/sycl-ref/ceed-sycl-vector.sycl.cpp
  backends/sycl-shared/ceed-sycl-shared-basis.sycl.cpp
Labels: minor, 1-In Review, SYCL

#1477 Fallback to sycl/ref from gen for non-tensor bases
  backends/sycl-gen/ceed-sycl-gen-operator.sycl.cpp
Labels: 1-In Review, SYCL

#1493 Add `CeedOperatorLinearAssembleQFunction` to At Points operators with Ref backend
  backends/ref/ceed-ref-operator.c
  tests/t592-operator.c
Labels: backend, 1-In Review

#1494 Fluids: Add LogEvent for Differential Filter and Velocity Gradient Projection
  examples/fluids/Makefile
  examples/fluids/navierstokes.h
  examples/fluids/src/differential_filter.c
  examples/fluids/src/misc.c
  examples/fluids/src/velocity_gradient_projection.c
Labels: examples, 1-In Review
