Repository CEED/libCEED, pull requests merged in 2024-03, with the labels that each got.

#1497 fluids: Destroy stray Mats
  examples/fluids/src/differential_filter.c
  examples/fluids/src/grid_anisotropy_tensor.c
  examples/fluids/src/turb_spanstats.c
  examples/fluids/src/velocity_gradient_projection.c
Labels: minor, examples, 1-In Review

#1498 Remove obsolete LSAN_OPTIONS and .asanignore
  .asanignore
  Makefile
Labels: minor, testing

#1499 internal - remove some extra void* casts
  backends/memcheck/ceed-memcheck-qfunction.c
  backends/memcheck/ceed-memcheck-qfunctioncontext.c
  backends/ref/ceed-ref-qfunctioncontext.c
  gallery/identity/ceed-identity.c
  interface/ceed-fortran.c
  interface/ceed-qfunction.c
Labels: minor, 1-In Review

#1361 fluids: Add external SGS DD inference capability
  examples/fluids/README.md
  examples/fluids/index.md
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/problems/sgs_dd_model.c
  examples/fluids/qfunctions/sgs_dd_model.h
  examples/fluids/qfunctions/sgs_dd_training.h
  examples/fluids/qfunctions/sgs_dd_utils.h
  examples/fluids/src/setuplibceed.c
  examples/fluids/src/setupts.c
Labels: examples, 1-In Review

#1503 Fix tidy warning
  backends/cuda-ref/ceed-cuda-ref-operator.c
  backends/hip-ref/ceed-hip-ref-operator.c
Labels: minor, 1-In Review

#1443 fluids: Change slip boundary condition formulation
  examples/fluids/README.md
  examples/fluids/blasius.yaml
  examples/fluids/channel.yaml
  examples/fluids/gaussianwave.yaml
  examples/fluids/index.md
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/problems/bc_freestream.c
  examples/fluids/problems/bc_slip.c
  examples/fluids/problems/gaussianwave.c
  examples/fluids/problems/newtonian.c
  examples/fluids/qfunctions/bc_freestream.h
  examples/fluids/qfunctions/bc_freestream_type.h
  examples/fluids/qfunctions/bc_slip.h
  examples/fluids/qfunctions/riemann_solver.h
  examples/fluids/src/cloptions.c
  examples/fluids/src/setupdm.c
  examples/fluids/src/setuplibceed.c
  examples/fluids/tests-output/blasius_stgtest.yaml
  examples/fluids/tests-output/blasius_test.yaml
  examples/fluids/tests-output/fluids-navierstokes-blasius-bc_slip.bin
  examples/fluids/tests-output/stats_test.yaml
Labels: examples, 1-In Review

#1505 Add Ceed*ReturnCeed
  .github/workflows/c-fortran-test-style.yml
  backends/avx/ceed-avx-tensor.c
  backends/blocked/ceed-blocked-operator.c
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-gen/ceed-cuda-gen-qfunction.c
  backends/cuda-ref/ceed-cuda-ref-operator.c
  backends/cuda-ref/ceed-cuda-ref-qfunction-load.cpp
  backends/cuda-ref/ceed-cuda-ref-qfunction.c
  backends/cuda-ref/ceed-cuda-ref-qfunctioncontext.c
  backends/cuda-ref/ceed-cuda-ref-vector.c
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-qfunction.c
  backends/hip-ref/ceed-hip-ref-operator.c
  backends/hip-ref/ceed-hip-ref-qfunction-load.cpp
  backends/hip-ref/ceed-hip-ref-qfunction.c
  backends/hip-ref/ceed-hip-ref-qfunctioncontext.c
  backends/hip-ref/ceed-hip-ref-vector.c
  backends/memcheck/ceed-memcheck-qfunctioncontext.c
  backends/memcheck/ceed-memcheck-restriction.c
  backends/memcheck/ceed-memcheck-vector.c
  backends/opt/ceed-opt-operator.c
  backends/opt/ceed-opt-tensor.c
  backends/ref/ceed-ref-operator.c
  backends/ref/ceed-ref-qfunctioncontext.c
  backends/ref/ceed-ref-restriction.c
  backends/ref/ceed-ref-vector.c
  backends/sycl-gen/ceed-sycl-gen-operator-build.sycl.cpp
  backends/sycl-gen/ceed-sycl-gen-qfunction.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-qfunction-load.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-qfunction.sycl.cpp
  backends/sycl-ref/ceed-sycl-vector.sycl.cpp
  backends/xsmm/ceed-xsmm-tensor.c
  doc/sphinx/source/releasenotes.md
  include/ceed/backend.h
  include/ceed/ceed.h
  include/ceed/jit-source/magma/magma-basis-grad-1d.h
  include/ceed/jit-source/magma/magma-basis-grad-2d.h
  include/ceed/jit-source/magma/magma-basis-grad-3d.h
  include/ceed/jit-source/magma/magma-basis-interp-1d.h
  include/ceed/jit-source/magma/magma-basis-interp-2d.h
  include/ceed/jit-source/magma/magma-basis-interp-3d.h
  interface/ceed-basis.c
  interface/ceed-elemrestriction.c
  interface/ceed-operator.c
  interface/ceed-qfunction.c
  interface/ceed-qfunctioncontext.c
  interface/ceed-tensor.c
  interface/ceed-vector.c
Labels: interface, 1-In Review

#1508 Initalize scratch vectors in AtPoints Operator impl
  backends/ref/ceed-ref-operator.c
  tests/t593-operator.c
Labels: bug, CPU, 1-In Review

#1512 Add memcheck+asan CI job
  .gitlab-ci.yml
Labels: 1-In Review, CI

#1473 fluids: Shakib tau for advection
  examples/fluids/README.md
  examples/fluids/index.md
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/problems/advection.c
  examples/fluids/qfunctions/advection.h
  examples/fluids/qfunctions/advection_types.h
  examples/fluids/qfunctions/stabilization_types.h
  examples/fluids/tests-output/fluids-navierstokes-adv-skew.bin
Labels: examples, 1-In Review

#1500 fix(fluids): RHS stabilization term should be negative
  examples/fluids/navierstokes.c
  examples/fluids/qfunctions/advection.h
  examples/fluids/tests-output/fluids-navierstokes-adv2d-rotation-explicit-stab-su-consistent-mass.bin
Labels: bug, examples, 1-In Review

#1510 fluids: Add MatCeed
  examples/fluids/Makefile
  examples/fluids/include/mat-ceed-impl.h
  examples/fluids/include/mat-ceed.h
  examples/fluids/include/petsc_ops.h
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/src/cloptions.c
  examples/fluids/src/differential_filter.c
  examples/fluids/src/grid_anisotropy_tensor.c
  examples/fluids/src/mat-ceed.c
  examples/fluids/src/misc.c
  examples/fluids/src/petsc_ops.c
  examples/fluids/src/setupdm.c
  examples/fluids/src/setuplibceed.c
  examples/fluids/src/setupts.c
  examples/fluids/src/turb_spanstats.c
  examples/fluids/src/velocity_gradient_projection.c
Labels: examples, 1-In Review

#1515 Avoid integer conversion warnings for fields in SgsDDData
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
Labels: examples

#1516 fluids: Fix issues with 64 bit PetscInt builds
  examples/fluids/src/smartsim/smartsim.c
Labels: examples, 1-In Review

#1518 fluids: Catch if no options passed
  examples/fluids/src/cloptions.c
Labels: examples, 1-In Review

#1517 fluids: Sync with Ratel changes
  examples/fluids/include/ceed-utils.h
  examples/fluids/include/mat-ceed-impl.h
  examples/fluids/include/petsc_ops.h
  examples/fluids/navierstokes.h
  examples/fluids/problems/sgs_dd_model.c
  examples/fluids/src/dm_utils.c
  examples/fluids/src/grid_anisotropy_tensor.c
  examples/fluids/src/mat-ceed.c
  examples/fluids/src/misc.c
  examples/fluids/src/petsc_ops.c
  examples/fluids/src/setuplibceed.c
  examples/fluids/src/setupts.c
  examples/fluids/src/smartsim/sgs_dd_training.c
  examples/fluids/src/turb_spanstats.c
Labels: examples, 1-In Review

#1519 Update to DMPlexFilter in PETSc 3.21
  examples/fluids/navierstokes.h
  examples/fluids/src/turb_spanstats.c
Labels: examples, 1-In Review

#1527 Minor LCOV fixes
  interface/ceed-basis.c
  tests/t201-elemrestriction.c
  tests/t202-elemrestriction.c
  tests/t203-elemrestriction.c
  tests/t204-elemrestriction.c
  tests/t205-elemrestriction.c
  tests/t206-elemrestriction.c
  tests/t207-elemrestriction.c
  tests/t208-elemrestriction.c
  tests/t213-elemrestriction.c
  tests/t219-elemrestriction.c
  tests/t314-basis.c
  tests/t315-basis.c
  tests/t316-basis.c
  tests/t319-basis.c
  tests/t357-basis.c
  tests/t509-operator.c
Labels: 1-In Review, CI

#1528 Restriction CeedInt vs CeedSize
  .clang-tidy
  backends/blocked/ceed-blocked-operator.c
  backends/memcheck/ceed-memcheck-restriction.c
  backends/opt/ceed-opt-operator.c
  backends/ref/ceed-ref-operator.c
  backends/ref/ceed-ref-restriction.c
  interface/ceed-elemrestriction.c
  interface/ceed-preconditioning.c
Labels: CPU, 1-In Review

#1529 fluids: Fix SmartSim training multiplicity, add GetInverseMultiplicity
  .gitignore
  Makefile
  examples/fluids/navierstokes.h
  examples/fluids/problems/sgs_dd_model.c
  examples/fluids/qfunctions/inverse_multiplicity.h
  examples/fluids/qfunctions/sgs_dd_training.h
  examples/fluids/qfunctions/sgs_dd_utils.h
  examples/fluids/smartsim_regression_framework.py
  examples/fluids/src/dm_utils.c
  examples/fluids/src/inverse_multiplicity.c
  examples/fluids/src/smartsim/sgs_dd_training.c
  examples/fluids/tests-output/y0_output.npy
Labels: bug, examples, 1-In Review

#1531 chore: Add tests/test_dir to .gitignore
  .gitignore
Labels: 1-In Review

#1530 Fluids/MatCeed: Print lengths in PetscChecks
  examples/fluids/src/mat-ceed.c
Labels: enhancement, examples, 1-In Review

#1521 Reduce Code Duplication
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-ref/ceed-cuda-ref-restriction.c
  backends/cuda-ref/ceed-cuda-ref-vector.c
  backends/cuda-ref/ceed-cuda-ref.h
  backends/cuda/ceed-cuda-common.c
  backends/cuda/ceed-cuda-common.h
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/hip-ref/ceed-hip-ref-restriction.c
  backends/hip-ref/ceed-hip-ref-vector.c
  backends/hip-ref/ceed-hip-ref.h
  backends/hip/ceed-hip-common.c
  backends/hip/ceed-hip-common.h
  backends/ref/ceed-ref-restriction.c
  backends/ref/ceed-ref-vector.c
  backends/ref/ceed-ref.h
  backends/sycl-gen/ceed-sycl-gen-operator-build.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref.hpp
  backends/sycl-ref/ceed-sycl-restriction.sycl.cpp
  backends/sycl-ref/ceed-sycl-vector.sycl.cpp
  include/ceed/backend.h
  interface/ceed.c
Labels: enhancement, backend, 1-In Review

#1495 Diagonal Assembly Clarification for AtPoints
  interface/ceed-preconditioning.c
Labels: minor, 1-In Review

#1535 Fixed SSDB issue with SmartSim Regression Test
  examples/fluids/smartsim_regression_framework.py
Labels: examples, 1-In Review

#1536 tidy - fix argument name mismatch
  backends/cuda-ref/ceed-cuda-ref.h
Labels: bug, minor, 1-In Review

#1534 Only include each JiT source once
  interface/ceed-jit-tools.c
Labels: enhancement, minor, GPU, 1-In Review

#1538 Enable int64 testing for PETSc examples
  .gitlab-ci.yml
  Makefile
  examples/petsc/area.c
  examples/petsc/bps.c
  examples/petsc/bpsraw.c
  examples/petsc/bpssphere.c
  examples/petsc/bpsswarm.c
  examples/petsc/include/petscutils.h
  examples/petsc/multigrid.c
  examples/petsc/src/libceedsetup.c
  examples/petsc/src/petscutils.c
  examples/petsc/src/swarmutils.c
  examples/solids/elasticity.c
  examples/solids/include/utils.h
  examples/solids/src/matops.c
  examples/solids/src/setup-libceed.c
  tests/junit.py
Labels: 1-In Review, CI

#1541 Drop SmartSim test on ROCm
  .gitlab-ci.yml
Labels: 1-In Review, CI

#1542 Fix JiT path cleaning logic
  doc/sphinx/source/releasenotes.md
  interface/ceed-jit-tools.c
  tests/t406-qfunction.h
Labels: bug, 1-In Review
