Repository CEED/libCEED, pull requests merged in 2024-04, with the labels that each got.

#1544 fix(fluids): Update to new isoperiodic API
  examples/fluids/navierstokes.h
  examples/fluids/src/turb_spanstats.c
Labels: examples, 1-In Review

#1548 fix(fluids): Catch SetupStrongStg_QF
  examples/fluids/src/strong_boundary_conditions.c
Labels: examples, 1-In Review

#1547 Min PETSc version 3.21
  examples/petsc/include/petscutils.h
  examples/petsc/include/petscversion.h
  examples/solids/elasticity.h
Labels: minor, examples, 1-In Review

#1546 sycl - fix vec memory copy
  backends/sycl-ref/ceed-sycl-ref-basis.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-operator.sycl.cpp
  backends/sycl-ref/ceed-sycl-vector.sycl.cpp
  tests/t506-operator.c
Labels: bug, 1-In Review

#1549 fluids: Enable Ceed-based strong BCs for explicit methods
  examples/fluids/src/setuplibceed.c
  examples/fluids/src/strong_boundary_conditions.c
Labels: examples, 1-In Review

#1550 refactor(fluids): Make QF comments consistent
  examples/fluids/qfunctions/bc_freestream.h
  examples/fluids/qfunctions/channel.h
  examples/fluids/qfunctions/densitycurrent.h
  examples/fluids/qfunctions/eulervortex.h
  examples/fluids/qfunctions/mass.h
  examples/fluids/qfunctions/newtonian.h
  examples/fluids/qfunctions/shocktube.h
  examples/fluids/qfunctions/stg_shur14.h
  examples/fluids/qfunctions/strong_boundary_conditions.h
Labels: examples, 1-In Review

#1551 fix(fluids): Allow advection to work with SYCL backends
  examples/fluids/qfunctions/advection.h
Labels: examples, 1-In Review

#1456 Efficiently use in-order and out-of-order queues in the SYCL backends
  backends/sycl-gen/ceed-sycl-gen-operator-build.sycl.cpp
  backends/sycl-gen/ceed-sycl-gen-operator.sycl.cpp
  backends/sycl-gen/ceed-sycl-gen.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-basis.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-operator.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-qfunction.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-qfunctioncontext.sycl.cpp
  backends/sycl-ref/ceed-sycl-restriction.sycl.cpp
  backends/sycl-ref/ceed-sycl-vector.sycl.cpp
  backends/sycl-shared/ceed-sycl-shared-basis.sycl.cpp
  backends/sycl-shared/ceed-sycl-shared.sycl.cpp
  backends/sycl/ceed-sycl-common.sycl.cpp
Labels: 1-In Review, SYCL

#1554 fluids: Update topological periodicity localization
  examples/fluids/src/dm_utils.c
  examples/fluids/src/setupdm.c
Labels: examples, 1-In Review

#1533 fluids: Change SmartSim sizeInfo to show minimum global array size
  examples/fluids/smartsim_regression_framework.py
  examples/fluids/src/smartsim/sgs_dd_training.c
Labels: examples, 1-In Review

#1555 Fixed small bug in sgs_dd_train Q function
  examples/fluids/qfunctions/sgs_dd_training.h
  examples/fluids/tests-output/y0_output.npy
  tests/junit.py
Labels: bug, examples, 1-In Review

#1553 fluids: Add stabilized mass operator for Newtonian
  examples/fluids/navierstokes.c
  examples/fluids/problems/newtonian.c
  examples/fluids/qfunctions/newtonian.h
  examples/fluids/tests-output/fluids-navierstokes-gaussianwave-explicit.bin
Labels: examples, 1-In Review

#1556 fix: Correct docstring, make parameter name consistent
  include/ceed/jit-tools.h
  interface/ceed-jit-tools.c
  interface/ceed.c
Labels: minor, documentation, 1-In Review

#1557 fluids: Add diffusion to advection problem
  examples/fluids/README.md
  examples/fluids/index.md
  examples/fluids/navierstokes.c
  examples/fluids/problems/advection.c
  examples/fluids/qfunctions/advection.h
  examples/fluids/qfunctions/advection_types.h
  examples/fluids/tests-output/fluids-navierstokes-adv-skew.bin
Labels: examples, 1-In Review

#1559 fix(fluids): Fix primary PETSc memory leak, others
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/src/misc.c
  examples/fluids/src/setuplibceed.c
Labels: bug, examples, 1-In Review

#1560 fluids: Remove ceed backend from advection.yaml
  examples/fluids/advection.yaml
Labels: bug, testing, examples, 1-In Review

#1558 fluids: Add option for multiple filter widths during in-situ SGS training
  examples/fluids/README.md
  examples/fluids/include/smartsim.h
  examples/fluids/index.md
  examples/fluids/navierstokes.h
  examples/fluids/smartsim_regression_framework.py
  examples/fluids/src/differential_filter.c
  examples/fluids/src/smartsim/sgs_dd_training.c
  examples/fluids/src/smartsim/smartsim.c
  examples/fluids/tests-output/y00_output.npy
  examples/fluids/tests-output/y01_output.npy
  examples/fluids/tests-output/y0_output.npy
Labels: examples, 1-In Review

#1561 fluids - use VecGetState
  examples/fluids/src/differential_filter.c
Labels: minor, examples, 1-In Review

#1562 fluids: Make ProblemData a pointer to struct
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/problems/advection.c
  examples/fluids/problems/bc_freestream.c
  examples/fluids/problems/bc_slip.c
  examples/fluids/problems/blasius.c
  examples/fluids/problems/channel.c
  examples/fluids/problems/densitycurrent.c
  examples/fluids/problems/eulervortex.c
  examples/fluids/problems/gaussianwave.c
  examples/fluids/problems/newtonian.c
  examples/fluids/problems/sgs_dd_model.c
  examples/fluids/problems/shocktube.c
  examples/fluids/problems/stg_shur14.c
  examples/fluids/problems/stg_shur14.h
  examples/fluids/problems/taylorgreen.c
  examples/fluids/src/cloptions.c
  examples/fluids/src/differential_filter.c
  examples/fluids/src/misc.c
  examples/fluids/src/setupdm.c
  examples/fluids/src/setuplibceed.c
  examples/fluids/src/smartsim/sgs_dd_training.c
  examples/fluids/src/smartsim_weak.c
  examples/fluids/src/strong_boundary_conditions.c
  examples/fluids/src/turb_spanstats.c
  examples/fluids/src/velocity_gradient_projection.c
Labels: minor, examples, 1-In Review

#1564 fluids: Updates from Ratel
  examples/fluids/include/ceed-utils.h
  examples/fluids/include/mat-ceed-impl.h
  examples/fluids/src/mat-ceed.c
Labels: examples, 1-In Review

#1566 fluids: Use State in blasius context
  examples/fluids/README.md
  examples/fluids/problems/blasius.c
  examples/fluids/problems/newtonian.c
  examples/fluids/qfunctions/blasius.h
  examples/fluids/qfunctions/newtonian.h
  examples/fluids/qfunctions/newtonian_types.h
Labels: minor, examples, 1-In Review

#1570 fix(fluids): Make local Vecs use PETSC_COMM_SELF in turbstats
  examples/fluids/src/petsc_ops.c
  examples/fluids/src/turb_spanstats.c
Labels: bug, examples, 1-In Review

#1567 fluids: Refactor primary Ceed Object creation routines
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/src/setuplibceed.c
  examples/fluids/src/strong_boundary_conditions.c
  examples/fluids/src/turb_spanstats.c
Labels: enhancement, examples, 1-In Review

#1571 fluids: Add CreateQData and CreateQDataBoundary functions
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/problems/advection.c
  examples/fluids/problems/eulervortex.c
  examples/fluids/problems/newtonian.c
  examples/fluids/problems/shocktube.c
  examples/fluids/qfunctions/setupgeo2d.h
  examples/fluids/src/qdata.c
  examples/fluids/src/setuplibceed.c
  examples/fluids/src/turb_spanstats.c
Labels: enhancement, examples, 1-In Review

#1572 Add `$(PYTHON)` to prove command
  Makefile
Labels: bug, minor, 1-In Review
