Repository CEED/libCEED, pull requests merged in 2024-06, with the labels that each got.

#1596 ApplyAtPoints should take number of elem
  backends/ref/ceed-ref-operator.c
  include/ceed-impl.h
  include/ceed/ceed.h
  interface/ceed-basis.c
  julia/LibCEED.jl/src/generated/libceed_bindings.jl
  tests/t350-basis.c
  tests/t351-basis.c
  tests/t352-basis.c
  tests/t353-basis.c
  tests/t354-basis.c
  tests/t355-basis.c
  tests/t356-basis.c
  tests/t357-basis.c
Labels: interface, 1-In Review

#1601 Refactor Chebyshev interp creation to separate fn
  include/ceed/backend.h
  interface/ceed-basis.c
Labels: enhancement, minor, 1-In Review

#1602 solids - reduce to minimal example set, see Ratel for full
  examples/solids/README.md
  examples/solids/elasticity.c
  examples/solids/index.md
  examples/solids/problems/cl-problems.h
  examples/solids/problems/finite-strain-mooney-rivlin-initial-1.c
  examples/solids/problems/finite-strain-mooney-rivlin.c
  examples/solids/problems/finite-strain-neo-hookean-current-1.c
  examples/solids/problems/finite-strain-neo-hookean-current-2.c
  examples/solids/problems/finite-strain-neo-hookean-initial-1.c
  examples/solids/problems/finite-strain-neo-hookean-initial-2.c
  examples/solids/problems/finite-strain-neo-hookean.c
  examples/solids/problems/linear.c
  examples/solids/problems/problems.c
  examples/solids/problems/problems.h
  examples/solids/qfunctions/finite-strain-mooney-rivlin-initial-1.h
  examples/solids/qfunctions/finite-strain-mooney-rivlin.h
  examples/solids/qfunctions/finite-strain-neo-hookean-current-1.h
  examples/solids/qfunctions/finite-strain-neo-hookean-current-2.h
  examples/solids/qfunctions/finite-strain-neo-hookean.h
  examples/solids/qfunctions/linear.h
  examples/solids/qfunctions/small-strain-neo-hookean.h
  examples/solids/src/cl-options.c
Labels: minor, examples, 1-In Review

#1604 fix(fluids): Spanwise width miscalculated for statsitics
  examples/fluids/src/turb_spanstats.c
Labels: examples, 1-In Review, HONEE

#1605 fluids: Add IDL to RHSFunction_Newtonian
  examples/fluids/navierstokes.c
  examples/fluids/qfunctions/newtonian.h
  examples/fluids/tests-output/fluids-navierstokes-gaussianwave-explicit.bin
Labels: examples, 1-In Review, HONEE

#1442 fluids: Add documentation for spanwise stats
  examples/fluids/index.md
Labels: documentation, examples, 1-In Review, HONEE

#1607 GPU consistency
  include/ceed/jit-source/cuda/cuda-ref-basis-tensor.h
  include/ceed/jit-source/hip/hip-ref-basis-tensor.h
Labels: minor, GPU, 1-In Review

#1581 fluids: Add PyTorch external DD SGS evaluation
  .gitlab-ci.yml
  Makefile
  examples/fluids/Makefile
  examples/fluids/README.md
  examples/fluids/include/log_events.h
  examples/fluids/include/sgs_model_torch.h
  examples/fluids/index.md
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/problems/newtonian.c
  examples/fluids/problems/sgs_dd_model.c
  examples/fluids/problems/sgs_model_torch_weak.c
  examples/fluids/problems/torch/sgs_model_torch.cpp
  examples/fluids/pytorch_pkgconfig.py
  examples/fluids/qfunctions/sgs_dd_model.h
  examples/fluids/src/log_events.c
  examples/fluids/src/misc.c
  examples/fluids/tests-output/createPyTorchModel/NNModel_HIT.pt
  examples/fluids/tests-output/createPyTorchModel/NNModel_HIT_fp64_jit.pt
  examples/fluids/tests-output/createPyTorchModel/README.md
  examples/fluids/tests-output/createPyTorchModel/update_weights.py
  tests/junit.py
Labels: examples, 1-In Review, HONEE

#1110 Add Entropy Variables to libCEED fluids NS mini-app
  examples/fluids/README.md
  examples/fluids/include/sgs_model_torch.h
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/problems/bc_freestream.c
  examples/fluids/problems/bc_slip.c
  examples/fluids/problems/gaussianwave.c
  examples/fluids/problems/newtonian.c
  examples/fluids/problems/sgs_dd_model.c
  examples/fluids/problems/stg_shur14.c
  examples/fluids/qfunctions/bc_freestream.h
  examples/fluids/qfunctions/bc_slip.h
  examples/fluids/qfunctions/blasius.h
  examples/fluids/qfunctions/channel.h
  examples/fluids/qfunctions/densitycurrent.h
  examples/fluids/qfunctions/differential_filter.h
  examples/fluids/qfunctions/gaussianwave.h
  examples/fluids/qfunctions/newtonian.h
  examples/fluids/qfunctions/newtonian_state.h
  examples/fluids/qfunctions/newtonian_types.h
  examples/fluids/qfunctions/sgs_dd_model.h
  examples/fluids/qfunctions/stg_shur14.h
  examples/fluids/qfunctions/taylorgreen.h
  examples/fluids/qfunctions/turb_spanstats.h
  examples/fluids/qfunctions/velocity_gradient_projection.h
  examples/fluids/src/differential_filter.c
  examples/fluids/src/setupdm.c
  examples/fluids/src/turb_spanstats.c
  examples/fluids/src/velocity_gradient_projection.c
  examples/fluids/tests-output/fluids-navierstokes-gaussianwave-IDL-entropy.bin
Labels: examples, 1-In Review, HONEE

#1609 fluids: Fix Riemann solvers *_fwd mode functions
  examples/fluids/navierstokes.c
  examples/fluids/problems/bc_freestream.c
  examples/fluids/qfunctions/bc_freestream.h
  examples/fluids/qfunctions/newtonian_state.h
  examples/fluids/qfunctions/riemann_solver.h
  examples/fluids/tests-output/fluids-navierstokes-gaussianwave-IDL-entropy.bin
  examples/fluids/tests-output/fluids-navierstokes-gaussianwave-IDL.bin
  examples/fluids/tests-output/fluids-navierstokes-gaussianwave-shell.bin
Labels: examples, 1-In Review, HONEE

#1612 op - add terse view
  include/ceed/ceed.h
  interface/ceed-operator.c
  tests/output/t504-operator-f.out
  tests/output/t504-operator.out
  tests/output/t523-operator.out
  tests/t504-operator-f.f90
  tests/t504-operator.c
  tests/t523-operator.c
Labels: interface, 1-In Review

#1606 fluids: Add dyScale and dz to STG options
  examples/fluids/README.md
  examples/fluids/problems/stg_shur14.c
  examples/fluids/qfunctions/stg_shur14.h
  examples/fluids/qfunctions/stg_shur14_type.h
Labels: examples, 1-In Review, HONEE

#1613 basis: Correct backend handling of NULL q_weight
  backends/cuda-ref/ceed-cuda-ref-basis.c
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/hip-ref/ceed-hip-ref-basis.c
  backends/hip-shared/ceed-hip-shared-basis.c
  backends/magma/ceed-magma-basis.c
  backends/sycl-gen/ceed-sycl-gen.sycl.cpp
  backends/sycl-ref/ceed-sycl-ref-basis.sycl.cpp
  backends/sycl-shared/ceed-sycl-shared-basis.sycl.cpp
  backends/sycl-shared/ceed-sycl-shared.sycl.cpp
  interface/ceed-basis.c
  tests/t319-basis.c
Labels: backend, 1-In Review

#1611 basis: Allow CreateProjection for mixed-tensor bases
  interface/ceed-basis.c
  tests/t319-basis.c
Labels: enhancement, 1-In Review

#1614 Strided Vec Utils
  Makefile
  backends/cuda-ref/ceed-cuda-ref-vector.c
  backends/cuda-ref/kernels/cuda-ref-vector.cu
  backends/cuda-shared/kernels/cuda-shared-basis.cu
  backends/hip-ref/ceed-hip-ref-vector.c
  backends/hip-ref/kernels/hip-ref-vector.hip.cpp
  include/ceed-impl.h
  include/ceed/ceed.h
  interface/ceed-vector.c
  interface/ceed.c
  tests/t127-vector.c
Labels: enhancement, minor, 1-In Review

#1616 tidy - add check tidy needs
  interface/ceed-vector.c
Labels: bug, 1-In Review

#1615 Skip unneeded restrictions in OpApply for GPU Ref
  backends/cuda-ref/ceed-cuda-ref-operator.c
  backends/cuda-ref/ceed-cuda-ref.h
  backends/hip-ref/ceed-hip-ref-operator.c
  backends/hip-ref/ceed-hip-ref.h
Labels: enhancement, performance, 1-In Review

#1619 Allow user to free temporary memory associated with QFunction and operator assembly
  include/ceed/backend.h
  include/ceed/ceed.h
  interface/ceed-operator.c
  interface/ceed-preconditioning.c
Labels: enhancement, performance

#1622 Add links to Ratel, HONEE
  examples/fluids/README.md
  examples/solids/README.md
Labels: minor, documentation, 1-In Review

#1623 fluids - drop SGS, SmartSim, Torch (moved to HONEE)
  .gitlab-ci.yml
  Makefile
  examples/fluids/Makefile
  examples/fluids/README.md
  examples/fluids/dd_sgs_data/OutScaling.dat
  examples/fluids/dd_sgs_data/b1.dat
  examples/fluids/dd_sgs_data/b2.dat
  examples/fluids/dd_sgs_data/w1.dat
  examples/fluids/dd_sgs_data/w2.dat
  examples/fluids/include/log_events.h
  examples/fluids/include/sgs_model_torch.h
  examples/fluids/include/smartsim.h
  examples/fluids/index.md
  examples/fluids/navierstokes.c
  examples/fluids/navierstokes.h
  examples/fluids/problems/sgs_dd_model.c
  examples/fluids/problems/sgs_model_torch_weak.c
  examples/fluids/problems/torch/sgs_model_torch.cpp
  examples/fluids/qfunctions/sgs_dd_model.h
  examples/fluids/qfunctions/sgs_dd_training.h
  examples/fluids/qfunctions/sgs_dd_utils.h
  examples/fluids/smartsim_regression_framework.py
  examples/fluids/src/cloptions.c
  examples/fluids/src/log_events.c
  examples/fluids/src/setuplibceed.c
  examples/fluids/src/setupts.c
  examples/fluids/src/smartsim/sgs_dd_training.c
  examples/fluids/src/smartsim/smartsim.c
  examples/fluids/src/smartsim_weak.c
  examples/fluids/tests-output/createPyTorchModel/NNModel_HIT.pt
  examples/fluids/tests-output/createPyTorchModel/NNModel_HIT_fp64_jit.pt
  examples/fluids/tests-output/createPyTorchModel/README.md
  examples/fluids/tests-output/createPyTorchModel/update_weights.py
  tests/junit.py
Labels: examples, 1-In Review, CI

#1626 ci - drop extra CPU tests in CUDA job
  .gitlab-ci.yml
  Makefile
Labels: minor, 1-In Review, CI

#1624 Drop unused variables in ref
  backends/ref/ceed-ref-operator.c
Labels: minor, 1-In Review
