Repository CEED/libCEED, pull requests merged in 2025-03, with the labels that each got.

#1771 Clarify Makefile Contents
  Makefile
Labels: minor, documentation, building, 0-WIP

#1773 Make BASIS_T_1D explicit template parameter
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/hip-shared/ceed-hip-shared-basis.c
  include/ceed/jit-source/cuda/cuda-gen-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-nontensor-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-nontensor.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-at-points.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor.h
  include/ceed/jit-source/hip/hip-gen-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-nontensor-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-nontensor.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-at-points.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor.h
Labels: GPU, CUDA, 1-In Review, HIP

#1776 Add Zachary R. Atkins to authors
  AUTHORS
Labels: 1-In Review

#1777 gpu - log error to debug on JiT try & fail
  backends/cuda/ceed-cuda-compile.cpp
  backends/hip/ceed-hip-compile.cpp
Labels: bug, GPU, CUDA, 1-In Review, HIP

#1787 ci - use newer libxsmm in CI
  .gitlab-ci.yml
Labels: minor, 1-In Review, CI

#1785 Add ex3 to documentation
  examples/ceed/index.md
Labels: documentation, examples, 1-In Review

#1762 Mixed Tensor/NonTensor for Gen
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda-gen/ceed-cuda-gen.h
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator.c
  backends/hip-gen/ceed-hip-gen.h
  doc/sphinx/source/releasenotes.md
  include/ceed/jit-source/cuda/cuda-shared-basis-nontensor-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-nontensor.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-at-points-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-at-points.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-flattened-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor.h
  include/ceed/jit-source/hip/hip-shared-basis-nontensor-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-nontensor.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-at-points-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-at-points.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-flattened-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor.h
Labels: enhancement, GPU, performance, CUDA, 1-In Review, HIP

#1782 Add stop to CeedVectorSetValueStrided
  backends/cuda-ref/ceed-cuda-ref-operator.c
  backends/cuda-ref/ceed-cuda-ref-vector.c
  backends/cuda-ref/kernels/cuda-ref-vector.cu
  backends/hip-ref/ceed-hip-ref-operator.c
  backends/hip-ref/ceed-hip-ref-vector.c
  backends/hip-ref/kernels/hip-ref-vector.hip.cpp
  backends/memcheck/ceed-memcheck-vector.c
  include/ceed-impl.h
  include/ceed/ceed.h
  interface/ceed-vector.c
  tests/t127-vector.c
Labels: bug, enhancement, interface, GPU, CPU, 1-In Review

#1789 Use llvm 19
  .github/workflows/c-fortran-test-style.yml
  include/ceed/backend.h
Labels: 1-In Review, CI

#1653 Rust - shrink prelude
  examples/rust/ex1-volume/src/main.rs
  examples/rust/ex1-volume/src/transform.rs
  examples/rust/ex2-surface/src/main.rs
  examples/rust/ex2-surface/src/transform.rs
  examples/rust/ex3-vector-volume/src/main.rs
  examples/rust/ex3-vector-volume/src/transform.rs
  examples/rust/ex4-vector-surface/src/main.rs
  examples/rust/ex4-vector-surface/src/transform.rs
  examples/rust/mesh/src/lib.rs
  rust/libceed-sys/src/lib.rs
  rust/libceed/src/basis.rs
  rust/libceed/src/elem_restriction.rs
  rust/libceed/src/lib.rs
  rust/libceed/src/operator.rs
  rust/libceed/src/qfunction.rs
  rust/libceed/src/vector.rs
Labels: 1-In Review, Rust

#1791 Include tensor basis header for pure-tensor operators
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
Labels: backend, 1-In Review

#1793 ci - use macos-15
  .github/workflows/c-fortran-test-linux-osx.yml
Labels: 1-In Review, CI

#1792 Add run-time interface for build-time configuration
  Makefile
  doc/sphinx/requirements.txt
  doc/sphinx/source/releasenotes.md
  include/ceed/ceed.h
  interface/ceed-config.c
  interface/ceed.c
  tests/t010-config.c
Labels: building, 1-In Review

#1788 Unified memory for HIP
  backends/hip-ref/ceed-hip-ref-vector.c
  backends/hip-ref/ceed-hip-ref.h
  backends/hip/ceed-hip-common.c
  backends/hip/ceed-hip-common.h
Labels: GPU, performance, 1-In Review, HIP

#1796 fix(bc): Correct PetscOptionsItems pointer status
  examples/fluids/include/bc_definition.h
  examples/fluids/qfunctions/stg_shur14.h
  examples/fluids/src/bc_definition.c
  examples/fluids/src/misc.c
Labels: examples, PETSc, 1-In Review, HONEE

#1797 petsc - require 3.23
  examples/fluids/navierstokes.h
  examples/petsc/include/petscversion.h
  examples/solids/elasticity.h
Labels: examples, PETSc, 1-In Review
