Repository CEED/libCEED, pull requests merged in 2025-05, with the labels that each got.

#1804 ex1-volume python example
  examples/python/ex1-volume.py
Labels: examples, 1-In Review, Python

#1802 ex2_Surface implementation in python
  examples/python/ex2_surface.py
Labels: examples, 1-In Review, Python

#1819 Zach/mi300a fixes
  backends/hip-gen/ceed-hip-gen-operator.c
  backends/hip-gen/ceed-hip-gen.h
  backends/hip-ref/ceed-hip-ref-vector.c
  backends/hip-ref/ceed-hip-ref.c
  backends/hip-shared/ceed-hip-shared-basis.c
  interface/ceed.c
Labels: 1-In Review, HIP

#1815 SYCL backend updates for latest oneAPI release/2025.0.5
  backends/sycl/ceed-sycl-common.sycl.cpp
  backends/sycl/online_compiler.hpp
Labels: 1-In Review, SYCL

#1821 doc - minor fixes
  README.md
  examples/deal.II/README.md
  examples/fluids/README.md
  examples/nek/README.md
  examples/petsc/README.md
  examples/solids/README.md
Labels: minor, documentation, 1-In Review

#1823 test - fix path to stay in folder
  tests/t406-qfunction.h
Labels: 1-In Review, CI

#1832 Add ncomp=4 as common CPU restriction variant
  backends/ref/ceed-ref-restriction.c
Labels: minor, performance, CPU, 1-In Review
