Repository CEED/libCEED, pull requests merged in 2025-08, with the labels that each got.

#1882 cuda - fix misplaced ) for gen Grad
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
Labels: bug, GPU, CUDA, 1-In Review

#1875 Operator Name Consistency
  Makefile
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda-ref/ceed-cuda-ref-operator.c
  backends/hip-gen/ceed-hip-gen-operator.c
  backends/hip-ref/ceed-hip-ref-operator.c
  backends/ref/ceed-ref-operator.c
  backends/sycl-ref/ceed-sycl-ref-operator.sycl.cpp
  doc/sphinx/source/releasenotes.md
  examples/fluids/problems/advection.c
  examples/fluids/problems/newtonian.c
  examples/fluids/src/differential_filter.c
  examples/fluids/src/mat-ceed.c
  examples/fluids/src/setuplibceed.c
  examples/fluids/src/strong_boundary_conditions.c
  include/ceed/backend.h
  include/ceed/ceed.h
  include/ceed/deprecated.h
  interface/ceed-fortran.c
  interface/ceed-operator.c
  interface/ceed-preconditioning.c
  julia/LibCEED.jl/src/Operator.jl
  julia/LibCEED.jl/src/generated/libceed_bindings.jl
  julia/LibCEED.jl/test/rundevtests.jl
  julia/LibCEED.jl/test/runtests.jl
  python/build_ceed_cffi.py
  python/ceed_operator.py
  rust/libceed/src/operator.rs
  tests/t520-operator-f.f90
  tests/t520-operator.c
  tests/t521-operator-f.f90
  tests/t521-operator.c
  tests/t522-operator-f.f90
  tests/t522-operator.c
  tests/t523-operator-f.f90
  tests/t523-operator.c
  tests/t524-operator-f.f90
  tests/t524-operator.c
  tests/t525-operator.c
  tests/t526-operator.c
  tests/t538-operator.c
  tests/t554-operator.c
  tests/t565-operator.c
Labels: interface, 1-In Review

#1886 ref - Ensure at-points operators skip cells with no points
  backends/ref/ceed-ref-operator.c
Labels: bug, 1-In Review
