Repository CEED/libCEED, pull requests merged in 2025-01, with the labels that each got.

#1715 AtPoints for */gen
  backends/cuda-gen/ceed-cuda-gen-operator-build.cpp
  backends/cuda-gen/ceed-cuda-gen-operator.c
  backends/cuda-gen/ceed-cuda-gen.c
  backends/cuda-gen/ceed-cuda-gen.h
  backends/hip-gen/ceed-hip-gen-operator-build.cpp
  backends/hip-gen/ceed-hip-gen-operator.c
  backends/hip-gen/ceed-hip-gen.c
  backends/hip-gen/ceed-hip-gen.h
  include/ceed/jit-source/cuda/cuda-gen-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-at-points-templates.h
  include/ceed/jit-source/cuda/cuda-types.h
  include/ceed/jit-source/hip/hip-gen-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-at-points-templates.h
  include/ceed/jit-source/hip/hip-types.h
  interface/ceed-operator.c
  interface/ceed-preconditioning.c
Labels: enhancement, GPU, performance, CUDA, 1-In Review, HIP

#1718 Disable ROCm CI
  .gitlab-ci.yml
Labels: 0-WIP, CI

#1722 ci - add rocm build only test
  .gitlab-ci.yml
Labels: 1-In Review, CI, HIP

#1721 Add non-tensor shared
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/cuda-shared/ceed-cuda-shared.c
  backends/cuda-shared/ceed-cuda-shared.h
  backends/cuda-shared/kernels/cuda-shared-basis.cu
  backends/hip-shared/ceed-hip-shared-basis.c
  backends/hip-shared/ceed-hip-shared.c
  backends/hip-shared/ceed-hip-shared.h
  include/ceed/jit-source/cuda/cuda-shared-basis-nontensor-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-nontensor.h
  include/ceed/jit-source/cuda/cuda-shared-basis-read-write-templates.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-at-points.h
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor.h
  include/ceed/jit-source/hip/hip-shared-basis-nontensor-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-nontensor.h
  include/ceed/jit-source/hip/hip-shared-basis-read-write-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-at-points.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor.h
  tests/t319-basis.c
Labels: enhancement, GPU, CUDA, 1-In Review, HIP

#1723 Fix AtPoints transpose shift
  include/ceed/jit-source/cuda/cuda-shared-basis-tensor-at-points-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-tensor-at-points-templates.h
Labels: minor, GPU, 1-In Review

#1724 Fix hip/shared NonTensor
  backends/hip-shared/ceed-hip-shared-basis.c
  include/ceed/jit-source/hip/hip-shared-basis-nontensor-templates.h
  include/ceed/jit-source/hip/hip-shared-basis-nontensor.h
Labels: bug, GPU, 1-In Review, HIP

#1726 Fallback if nontensor shared uses too much mem
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/hip-shared/ceed-hip-shared-basis.c
  include/ceed/backend.h
  interface/ceed-basis.c
  tests/t319-basis.c
Labels: GPU, CUDA, 1-In Review, HIP

#1727 Fix issue in block sizing for GPU shared basis
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/hip-shared/ceed-hip-shared-basis.c
Labels: minor, CUDA, 1-In Review, HIP

#1729 Check for interp, grad in shared backends
  backends/cuda-shared/ceed-cuda-shared-basis.c
  backends/hip-shared/ceed-hip-shared-basis.c
Labels: minor, GPU, 1-In Review

#1733 Use native hardware for ARM testing
  .github/workflows/c-fortran-test-arm64.yml
  .github/workflows/c-fortran-test-ppc64le.yml
Labels: 1-In Review, CI
